select {
  border: none;
}

.form-select:focus {
  outline: 0 !important;
}

.flex {
  display: flex;
  align-items: center;
  border: 1px solid #0b2f5b;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 30px;
}

.form-input-field {
  padding-top: 20px;
}

.form-input-field {
  width: 100%;
  padding: 12px 20px;
  border: 1px solid #54a0b2;
  border-radius: 30px;
}

.form-input-field:focus {
  outline: 0;
}

.upload-select {
  border: 1px solid #0b2f5b;
  padding: 18px 40px;
  margin-bottom: 16px;
  border-radius: 30px;
  font-weight: bold;
  width: 100%;
}
