<section id="Upload-post">
  <div class="upload-post-wrapper position-relative">
    <div class="container-fluid">
      <div class="upload-post-container">
        <div class="upload-post-title">
          <h4>{{ 'HOME.upload_post' | translate }}</h4>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="upload-post-img">
              <img src="assets/images/upload-post.png" alt="upload-post" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="upload-post-form-container">
              <form [formGroup]="uploadForm" (ngSubmit)="upload()">
                <div class="upload-post-form">
                  <div class="up-form-field">
                    <select
                      class="form-select"
                      formControlName="animal"
                      required
                    >
                      <option value="" selected disabled>
                        {{ 'UPLOAD.select_animal' | translate }}
                      </option>
                      <option value="Dog">
                        {{ 'ANIMALS.dog' | translate }}
                      </option>
                      <option value="Cat">
                        {{ 'ANIMALS.cat' | translate }}
                      </option>
                      <option value="Fish">
                        {{ 'ANIMALS.fish' | translate }}
                      </option>
                      <option value="Bird">
                        {{ 'ANIMALS.bird' | translate }}
                      </option>
                      <option value="Reptile">
                        {{ 'ANIMALS.reptile' | translate }}
                      </option>
                    </select>
                  </div>
                  <div class="up-form-field">
                    <input
                      type="text"
                      placeholder="{{ 'UPLOAD.breed' | translate }}"
                      formControlName="breed"
                      required
                    />
                  </div>
                  <div class="up-form-field">
                    <select
                      (change)="changeInput($event)"
                      formControlName="postType"
                      class="form-select"
                      required
                    >
                      <option value="" disabled>
                        {{ 'UPLOAD.select_post_type' | translate }}
                      </option>
                      <option value="Selling">
                        {{ 'POST.Selling' | translate }}
                      </option>
                      <option value="Meeting">
                        {{ 'POST.Meeting' | translate }}
                      </option>
                      <option value="Adopting">
                        {{ 'POST.Adopting' | translate }}
                      </option>
                    </select>
                  </div>
                  <div class="up-form-field" id="price">
                    <input
                      type="number"
                      placeholder="{{ 'UPLOAD.price' | translate }}"
                      formControlName="price"
                    />
                  </div>
                  <div class="up-form-field double">
                    <input
                      type="text"
                      placeholder="{{ 'UPLOAD.age' | translate }}"
                      formControlName="age"
                    />
                    <select
                      class="form-select"
                      formControlName="ageType"
                      required
                    >
                      <option value="" selected disabled>
                        {{ 'UPLOAD.age_type' | translate }}
                      </option>
                      <option value="Years">
                        {{ 'POST.Years' | translate }}
                      </option>
                      <option value="Months">
                        {{ 'POST.Months' | translate }}
                      </option>
                    </select>
                  </div>
                  <div class="up-form-field">
                    <textarea
                      placeholder="{{ 'UPLOAD.description' | translate }}"
                      maxlength="150"
                      formControlName="description"
                    ></textarea>
                  </div>
                  <div class="up-form-field">
                    <input
                      type="text"
                      placeholder="{{ 'UPLOAD.phone' | translate }}"
                      formControlName="phone"
                    />
                  </div>
                  <div class="up-form-field">
                    <select formControlName="city" class="form-select">
                      <option value="" selected disabled>
                        {{ 'UPLOAD.select_city' | translate }}
                      </option>
                      <option
                        *ngFor="let city of cities | keyvalue"
                        value="{{city.key}}"
                      >
                        {{ 'CITIES.' + city.key | translate }}
                      </option>
                    </select>
                  </div>
                  <div class="up-form-field">
                    <div class="upload-icon">
                      <button
                        type="button"
                        (click)="fileInput.click()"
                        class="files-btn"
                      >
                        <mat-icon>file_upload</mat-icon> {{ 'UPLOAD.photos' |
                        translate }}
                      </button>
                    </div>
                    <input
                      hidden
                      (change)="selectFiles($event)"
                      #fileInput
                      type="file"
                      multiple
                      formControlName="imgs"
                    />
                    <div *ngIf="message" class="error-div">
                      <h2 class="error-text">3 Photos Maximum!</h2>
                    </div>
                    <div class="images">
                      <div class="image-div" *ngFor="let url of urls">
                        <mat-icon
                          class="{{ url }}"
                          id="cancel-icon"
                          (click)="removeImage($event)"
                          >cancel</mat-icon
                        >
                        <img [src]="url" class="uploaded-img" />
                      </div>
                    </div>
                  </div>
                  <div class="up-form-btn text-center text-md-end mt-3">
                    <input
                      type="submit"
                      value="{{ 'UPLOAD.submit' | translate }}"
                    />
                  </div>
                  <div class="error-div" *ngIf="form_msg">
                    <h2 align="center" class="error-text">
                      <mat-icon>cancel</mat-icon> {{ 'UPLOAD.error' | translate
                      }}
                    </h2>
                  </div>
                  <app-service-cost [serviceCost]="0.10"></app-service-cost>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upload-post-shape">
      <img src="assets/images/upload-post-shape.png" alt="upload-post-shape" />
    </div>
  </div>
</section>
