<section id="Upload-post">
  <div class="upload-post-wrapper position-relative">
    <div class="container-fluid">
      <div class="upload-post-container">
        <div class="upload-post-title">
          <h4>{{ 'HOME.upload_post' | translate }}</h4>
        </div>
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="upload-post-img">
              <img src="assets/images/upload-post.png" alt="upload-post" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="upload-post-form-container">
              <form [formGroup]="uploadForm" (ngSubmit)="checkForm()">
                <div class="upload-post-form">
                  <div class="up-form-field button-select" id="animal">
                    <p
                      [matMenuTriggerFor]="selectAnimalMenu"
                      *ngIf="selectedAnimal; else selectAnimal"
                    >
                      {{ 'ANIMALS.' + selectedAnimal | translate }}
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                    <ng-template #selectAnimal>
                      <p [matMenuTriggerFor]="selectAnimalMenu">
                        {{ 'UPLOAD.select_animal' | translate }}
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </p>
                    </ng-template>

                    <mat-menu
                      #selectAnimalMenu="matMenu"
                      class="menu-container"
                    >
                      <p
                        class="menu-item"
                        (click)="selectedAnimal = 'dog'; selectAnimalMenu.close.emit(); selectItem(selectedAnimal, 'animal')"
                      >
                        {{ 'ANIMALS.dog' | translate }}
                      </p>
                      <p
                        class="menu-item"
                        (click)="selectedAnimal = 'cat'; selectAnimalMenu.close.emit(); selectItem(selectedAnimal, 'animal')"
                      >
                        {{ 'ANIMALS.cat' | translate }}
                      </p>
                      <p
                        class="menu-item"
                        (click)="selectedAnimal = 'bird'; selectAnimalMenu.close.emit(); selectItem(selectedAnimal, 'animal')"
                      >
                        {{ 'ANIMALS.bird' | translate }}
                      </p>

                      <p
                        class="menu-item"
                        (click)="selectedAnimal = 'fish'; selectAnimalMenu.close.emit(); selectItem(selectedAnimal, 'animal')"
                      >
                        {{ 'ANIMALS.fish' | translate }}
                      </p>
                      <p
                        class="menu-item"
                        (click)="selectedAnimal = 'reptile'; selectAnimalMenu.close.emit(); selectItem(selectedAnimal, 'animal')"
                      >
                        {{ 'ANIMALS.reptile' | translate }}
                      </p>
                    </mat-menu>
                  </div>

                  <div class="up-form-field">
                    <input
                      type="text"
                      placeholder="{{ 'UPLOAD.breed' | translate }}"
                      formControlName="breed"
                      id="breed"
                      required
                    />
                  </div>

                  <!-- POST TYPE -->
                  <div class="up-form-field button-select" id="postType">
                    <p
                      [matMenuTriggerFor]="selectTypeMenu"
                      *ngIf="selectedType; else selectType"
                    >
                      {{ 'POST.' + selectedType | translate }}
                      <mat-icon>keyboard_arrow_down</mat-icon>
                    </p>
                    <ng-template #selectType>
                      <p [matMenuTriggerFor]="selectTypeMenu">
                        {{ 'UPLOAD.select_post_type' | translate }}
                        <mat-icon>keyboard_arrow_down</mat-icon>
                      </p>
                    </ng-template>

                    <mat-menu #selectTypeMenu="matMenu" class="menu-container">
                      <p
                        class="menu-item"
                        (click)="selectedType = 'Selling'; selectTypeMenu.close.emit(); selectItem(selectedType, 'postType'); changeInput()"
                      >
                        {{ 'POST.Selling' | translate }}
                      </p>
                      <p
                        class="menu-item"
                        (click)="selectedType = 'Meeting'; selectTypeMenu.close.emit(); selectItem(selectedType, 'postType'); changeInput()"
                      >
                        {{ 'POST.Meeting' | translate }}
                      </p>
                      <p
                        class="menu-item"
                        (click)="selectedType = 'Adopting'; selectTypeMenu.close.emit(); selectItem(selectedType, 'postType'); changeInput()"
                      >
                        {{ 'POST.Adopting' | translate }}
                      </p>
                    </mat-menu>
                  </div>

                  <div class="up-form-field">
                    <input
                      type="number"
                      placeholder="{{ 'UPLOAD.price' | translate }}"
                      formControlName="price"
                      id="price"
                    />
                  </div>
                  <div class="double-input">
                    <input
                      type="number"
                      placeholder="{{ 'UPLOAD.ageYears' | translate }}"
                      formControlName="ageYears"
                      id="ageYears"
                    />
                    <input
                      type="number"
                      placeholder="{{ 'UPLOAD.ageMonths' | translate }}"
                      formControlName="ageMonths"
                      id="ageMonths"
                    />
                  </div>

                  <div class="up-form-field">
                    <textarea
                      placeholder="{{ 'UPLOAD.description' | translate }}"
                      maxlength="150"
                      id="description"
                      formControlName="description"
                    ></textarea>
                  </div>
                  <div class="up-form-field">
                    <input
                      type="text"
                      placeholder="{{ 'UPLOAD.phone' | translate }}"
                      formControlName="phone"
                      id="phone"
                    />
                  </div>
                  <div class="up-form-field">
                    <app-cities-selector
                      [type]="'upload'"
                      [form]="uploadForm"
                      controlName="city"
                      [currentCity]="'Select Your City'"
                    ></app-cities-selector>
                  </div>
                  <div class="up-form-field">
                    <div class="upload-icon">
                      <button
                        type="button"
                        (click)="fileInput.click()"
                        class="files-btn"
                      >
                        <mat-icon>file_upload</mat-icon> {{ 'UPLOAD.photos' |
                        translate }}
                      </button>
                    </div>
                    <input
                      hidden
                      (change)="selectFiles($event)"
                      #fileInput
                      type="file"
                      multiple
                      formControlName="imgs"
                      id="imgs"
                    />
                    <div class="owl-upload">
                      <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide *ngFor="let url of urls">
                          <div class="slide-upload">
                            <img [src]="url" class="slide-img-upload" />
                          </div>
                          <mat-icon
                            class="{{ url }}"
                            id="cancel-icon"
                            (click)="removeImage($event)"
                            >delete</mat-icon
                          >
                        </ng-template>
                      </owl-carousel-o>
                    </div>
                  </div>
                  <div class="up-form-btn text-center text-md-end mt-3 vip-box">
                    <fieldset class="checkbox-group">
                      <div class="checkbox">
                        <label class="checkbox-wrapper">
                          <input
                            type="checkbox"
                            class="checkbox-input"
                            (change)="unlockDays($event)"
                          />
                          <span class="checkbox-tile">
                            <span class="checkbox-icon">
                              <mat-icon>bolt</mat-icon>
                            </span>
                            <span class="checkbox-label">VIP</span>
                          </span>
                        </label>
                      </div>
                    </fieldset>
                    <select
                      [(ngModel)]="daysSelected"
                      formControlName="days"
                      class="form-select days-selector"
                      id="days"
                    >
                      <option value="0" [selected]="true" disabled>
                        {{ 'UPLOAD.select_days' | translate }}
                      </option>
                      <option value="1">
                        1 {{ 'UPLOAD.day' | translate }}
                      </option>
                      <option value="2">
                        2 {{ 'UPLOAD.days' | translate }}
                      </option>
                      <option value="3">
                        3 {{ 'UPLOAD.days' | translate }}
                      </option>
                      <option value="4">
                        4 {{ 'UPLOAD.days' | translate }}
                      </option>
                      <option value="5">
                        5 {{ 'UPLOAD.days' | translate }}
                      </option>
                      <option value="6">
                        6 {{ 'UPLOAD.days' | translate }}
                      </option>
                      <option value="7">
                        7 {{ 'UPLOAD.days' | translate }}
                      </option>
                    </select>
                  </div>

                  <div class="up-form-btn text-center text-md-end mt-3">
                    <input
                      type="submit"
                      value="{{ 'UPLOAD.submit' | translate }}"
                    />
                  </div>
                  <div *ngIf="message" class="error-div">
                    <h2 class="error-text">3 Photos Min/Max!</h2>
                  </div>

                  <div class="error-div" *ngIf="form_msg">
                    <h2 align="center" class="error-text">
                      <mat-icon>cancel</mat-icon> {{ this.form_msg }}
                    </h2>
                  </div>
                  <app-service-cost
                    *ngIf="loggedIn"
                    [serviceCost]="0.15 + daysSelected * 1.5"
                  ></app-service-cost>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="upload-post-shape">
      <img src="assets/images/upload-post-shape.png" alt="upload-post-shape" />
    </div>
  </div>
</section>
