$dark: #ee8240;
$bg: #fceddc;
$light: #fff;
$dim: #2e3134;

body {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
}

mat-icon {
  vertical-align: middle;
}

/* Upload Post Section CSS Start */

.upload-post-wrapper {
  padding: 200px 0;
}

.upload-post-container {
  background: linear-gradient(
    107.16deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.6) 100%
  );
  box-shadow: 0px 27px 100px 5px rgba(11, 47, 91, 0.1);
  margin-top: 50px;
  border-radius: 30px;
}

.upload-post-title h4 {
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  color: #1d1d1d;
  padding-top: 50px;
}

.upload-post-img {
  max-width: 80%;
  margin: auto;
  padding: 80px 0 150px;
}

.upload-post-img img {
  width: 100%;
}

.upload-post-form {
  max-width: 400px;
  width: 100%;
}

select {
  border: 2px solid #54a0b2;
  padding: 18px 40px;
  margin-bottom: 16px;
  border-radius: 30px;
  font-weight: bold;
  color: $dim;
}

.double-input {
  display: flex;
  justify-content: space-between;
}

.double-input input {
  width: 48%;
  background: #ffffff;
  border: 2px solid #54a0b2;
  text-align: center;
  height: 62px;
  margin-bottom: 16px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 16px;
  outline: none;
}

.double-input input::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

#price {
  display: none;
}

// VIP CHECKBOX
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  user-select: none;
  & > * {
    margin: 0.5rem 0.5rem;
  }
  margin-bottom: 30px;
}

.checkbox-input {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;

  &:checked + .checkbox-tile {
    border-color: #ffca2b;
    box-shadow: 0 5px 10px rgba(#000, 0.1);
    color: #ffca2b;
    &:before {
      transform: scale(1);
      opacity: 1;
      background-color: #ffca2b;
      border-color: #ffca2b;
    }

    .checkbox-icon,
    .checkbox-label {
      color: #ffca2b;
    }
  }

  &:focus + .checkbox-tile {
    border-color: #ffca2b;
    box-shadow: 0 5px 10px rgba(#000, 0.1), 0 0 0 4px #ffd766;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 120px;
  min-height: 70px;
  border-radius: 0.5rem;
  border: 2px solid #ffd766;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(#000, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    display: block;
    width: 1.25rem;
    height: 1.25rem;
    border: 2px solid #ffd766;
    background-color: #fff;
    border-radius: 50%;
    top: 0.25rem;
    left: 0.25rem;
    opacity: 0;
    transform: scale(0);
    transition: 0.25s ease;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='192' height='192' fill='%23FFFFFF' viewBox='0 0 256 256'%3E%3Crect width='256' height='256' fill='none'%3E%3C/rect%3E%3Cpolyline points='216 72.005 104 184 48 128.005' fill='none' stroke='%23FFFFFF' stroke-linecap='round' stroke-linejoin='round' stroke-width='32'%3E%3C/polyline%3E%3C/svg%3E");
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &:hover {
    border-color: #ffca2b;
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
  mat-icon {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.checkbox-label {
  color: #707070;
  transition: 0.375s ease;
  text-align: center;
}

button {
  color: $dim;
}

textarea {
  width: 100%;
  background: #ffffff;
  border: 2px solid #54a0b2;
  padding: 18px 40px;
  margin-bottom: 16px;
  border-radius: 30px;
  font-weight: bold;
}

.up-form-field input,
.files-btn {
  width: 100%;
  background: #ffffff;
  border: 2px solid #54a0b2;
  padding: 18px 40px;
  margin-bottom: 16px;
  border-radius: 30px;
  font-weight: bold;
  outline: none; 
  font-size: 16px;
}

.up-form-field input:focus {
  outline: 0;
}

.up-form-field ::placeholder {
  font-size: 16px;
  font-weight: 700;
  color: black;
}

.up-form-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.up-form-btn input {
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1d;
  background: #fca311;
  padding: 16px 40px;
  border: none;
  border-radius: 30px;
  transition: transform 0.2s;
}

.up-form-btn input:hover {
  transform: scale(1.1);
}
.upload-post-shape {
  position: absolute;
  left: 0;
  bottom: -20px;
}

.images {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.image-div {
  width: 180px;
  height: 160px;
  align-items: center;
  text-align: center;
  margin-bottom: 70px;
  margin-top: 50px;
  padding: 10px;
}

/* Customizing Slider Dots */

.owl-upload {
  margin-top: 20px;
  text-align: center;
}

:host ::ng-deep .owl-dot span {
  background: #62d8f466;
}

:host ::ng-deep .owl-dot.active span {
  background: #62d8f4 !important;
}

:host ::ng-deep .owl-prev {
  padding: 15px !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}

:host ::ng-deep .owl-next {
  padding: 15px !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}

.slide-upload img {
  width: 100%; /* set the width */
  height: 350px; /* set the height */
  object-fit: cover; /* maintaining aspect ratio */
  border-radius: 20px;
}

.slide-upload {
  margin: 10px;
  background: radial-gradient(
    51.5% 76.56% at 50% 50%,
    rgba(96, 161, 193, 0.6) 0%,
    #095775eb 100%
  );
  padding: 10px 10px;
  border-radius: 30px;
}

.uploaded-img {
  width: 100%;
  height: 100%;
  outline: 3px solid #54a0b2;
  border-radius: 8px;
}

#cancel-icon {
  background: #54a0b2;
  padding: 10px;
  border-radius: 100%;
  color: white;
  font-size: 25px;
  width: 45px;
  height: 45px;
  margin-bottom: 10px;
  cursor: pointer;
}

.upload-post-shape img {
  max-width: 80%;
}

.error-div {
  padding-top: 20px;
  text-align: center;
}

.error-text {
  font-weight: bold;
  color: $dim;
}

.error-div mat-icon {
  color: $dim;
  font-size: 20px;
  width: 20px;
  height: 20px;
}

.vip-box {
  display: flex;
  flex-direction: column;
}

.days-selector {
  display: none;
}

/* Upload Post Section CSS End */
