<!DOCTYPE html>
<html>
  <head>
    <title>Privacy Policy</title>
  </head>
  <body>
    <h1>კონფიდენციალურობის პოლიტიკა</h1>
    <p>
      Pender-ში ჩვენ სერიოზულად ვუყურებთ თქვენს კონფიდენციალურობას. ეს
      კონფიდენციალურობის პოლიტიკა ასახავს პერსონალური ინფორმაციის ტიპებს,
      რომლებსაც ვაგროვებთ და როგორ ვიყენებთ მას.
    </p>

    <h2>ჩვენ შეიძლება შევაგროვოთ შემდეგი სახის პერსონალური ინფორმაცია:</h2>
    <ul>
      <li>სახელი</li>
      <li>ელფოსტის მისამართი</li>
      <li>ტელეფონის ნომერი</li>
      <li>ქალაქი</li>
      <li>სხვა ინფორმაცია, რომელსაც თქვენ გვაწვდით</li>
    </ul>

    <h2>როგორ ვიყენებთ თქვენს ინფორმაციას</h2>
    <p>
      ჩვენ შეიძლება გამოვიყენოთ თქვენი პირადი ინფორმაცია შემდეგი მიზნებისთვის:
    </p>
    <ul>
      <li>თქვენ მიერ მოთხოვნილი პროდუქტების ან სერვისების მოწოდებისთვის</li>
      <li>
        თქვენთან კომუნიკაციისთვის თქვენი ანგარიშის ან ჩვენი პროდუქტებისა და
        სერვისების შესახებ
      </li>
      <li>ჩვენი პროდუქტებისა და სერვისების გასაუმჯობესებლად</li>
      <li>სამართლებრივი და მარეგულირებელი მოთხოვნების შესასრულებლად</li>
    </ul>

    <h2>უსაფრთხოება</h2>
    <p>
      ჩვენ ვიღებთ გონივრულ ზომებს, რათა დავიცვათ თქვენი პერსონალური ინფორმაცია
      არაავტორიზებული წვდომისგან, გამოყენების ან გამჟღავნებისგან. თუმცა,
      ინტერნეტით ან ელექტრონული მეხსიერებით გადაცემის არც ერთი მეთოდი არ არის
      100%-ით უსაფრთხო, ამიტომ ჩვენ ვერ ვიძლევით გარანტიას აბსოლუტურ
      უსაფრთხოებაზე.
    </p>

    <h2>ცვლილებები ამ კონფიდენციალურობის პოლიტიკაში</h2>
    <p>
      ჩვენ შეიძლება დროდადრო განვაახლოთ ეს კონფიდენციალურობის პოლიტიკა. ჩვენ
      შეგატყობინებთ ნებისმიერი ცვლილების შესახებ ამ გვერდზე ახალი
      კონფიდენციალურობის პოლიტიკის გამოქვეყნებით. გირჩევთ პერიოდულად გადახედოთ
      ამ კონფიდენციალურობის პოლიტიკას ნებისმიერი ცვლილებისთვის.
    </p>

    <h2>დაგვიკავშირდით</h2>
    <p>
      თუ თქვენ გაქვთ რაიმე შეკითხვები ამ კონფიდენციალურობის პოლიტიკასთან
      დაკავშირებით, გთხოვთ დაგვიკავშირდეთ მისამართზე support@pender.ge.
    </p>
  </body>
</html>
