<body>
<div data-custom-class="body">
  <div>
    <div align="center" class="MsoNormal" style="text-align:center;line-height:115%;">
      <a name="_2cipo4yr3w5d" id="_2cipo4yr3w5d"></a>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <strong><span style="font-size: 26px;"><span data-custom-class="title">წესები და პირობები</span></span></strong>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <br>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <span style="font-size: 15px;"><span style="color: rgb(89, 89, 89);"><strong><span data-custom-class="subtitle">ბოლოს განახლდა 2023 წლის 01 მაისი</span></strong></span></span>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <br>
      </div>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;">
      <a name="_iwimutmowezb" id="_iwimutmowezb"></a><strong><span style="line-height: 115%; font-family: Arial; font-size: 19px;">ჩვენი ვებგვერდის გამოყენებით თქვენ ეთანხმებით შემდეგ წესებსა და პირობებს:</span></strong>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;">
<ul>
             <li>1. თქვენ ხართ პასუხისმგებელი ვებსაიტის გამოყენებაზე და თქვენს მიერ გაგზავნილ ან გაზიარებულ ნებისმიერ კონტენტზე.</li>
             <li>2. თქვენ არ გამოიყენებთ ვებსაიტს რაიმე უკანონო ან არაავტორიზებული მიზნით.</li>
             <li>3. თქვენ არ ჩაერთვებით რაიმე აქტივობაში, რომელიც ხელს უშლის ან არღვევს ვებსაიტს ან ვებსაიტთან დაკავშირებულ სერვერებსა და ქსელებს.</li>
             <li>4. თქვენ არ შეეცდებით ავტორიზაციის გარეშე შეხვიდეთ ვებსაიტის რომელიმე შეზღუდულ ზონაში.</li>
             <li>5. ჩვენ ვიტოვებთ უფლებას შევცვალოთ ან შევწყვიტოთ ვებგვერდი ნებისმიერ დროს გაფრთხილების გარეშე.</li>
             <li>6. ჩვენ შეიძლება დროდადრო განვაახლოთ გამოყენების პირობები. თქვენ განაგრძობთ ვებსაიტის გამოყენებას ამ გამოყენების პირობების ნებისმიერი ცვლილების შემდეგ, ნიშნავს თქვენს მიერ ასეთ ცვლილებებს.</li>
         </ul>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div data-custom-class="heading_1" style="line-height: 1.5;">
      <span style="font-size: 19px; color: rgb(0, 0, 0);"><strong>კითხვები</strong></span>
    </div>
    <div style="line-height: 1.5;">
      <br>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; color: rgb(89, 89, 89);">თუ თქვენ გაქვთ რაიმე შეკითხვები ჩვენს დაბრუნების პოლიტიკასთან დაკავშირებით, გთხოვთ დაგვიკავშირდეთ შემდეგ მისამართზე:</span>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.1;">
      <br>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;"></div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px;"><span style="color: rgb(89, 89, 89);">+995 557 325 325</span></span>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; color: rgb(89, 89, 89);">support@pender.ge</span>
    </div>
    <style>
      ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }
      ol li {
        font-family: Arial ;
      }
    </style>
  </div>
</div>
</body>

