<body>
<div data-custom-class="body">
  <div>
    <div align="center" class="MsoNormal" style="text-align:center;line-height:115%;">
      <a name="_2cipo4yr3w5d" id="_2cipo4yr3w5d"></a>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <strong><span style="font-size: 26px;"><span data-custom-class="title">დაბრუნების პოლიტიკა</span></span></strong>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <br>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <span style="font-size: 15px;"><span style="color: rgb(89, 89, 89);"><strong><span data-custom-class="subtitle">ბოლოს განახლდა 2023 წლის 01 მაისი</span></strong></span></span>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <br>
      </div>
      <div align="center" class="MsoNormal" style="text-align: left; line-height: 150%;">
        <span style="font-size: 15px;"><br>
        <a name="_2cipo4yr3w5d" id="_2cipo4yr3w5d"></a></span>
      </div>
    </div>
    <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">გმადლობთ შესყიდვისთვის. ვიმედოვნებთ, რომ კმაყოფილი ხართ თქვენი შენაძენით. თუმცა, თუ რაიმე მიზეზით არ ხართ სრულად კმაყოფილი თქვენი შესყიდვით, შეგიძლიათ დაგვიკავშირდეთ თანხის სრული დაბრუნებისთვის ან მაღაზიის კრედიტისთვის. გთხოვთ, იხილოთ ქვემოთ დამატებითი ინფორმაციისთვის ჩვენი დაბრუნების პოლიტიკის შესახებ.</span>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 115%;">
      <a name="_iwimutmowezb" id="_iwimutmowezb"></a><strong><span style="line-height: 115%; font-family: Arial; font-size: 19px;">დაბრუნება</span></strong>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">თანხის დაბრუნება ხდება მხოლოდ შემთხვევით შენაძენზე, რომელიც უტოლდება ან აღემატება 10 ლარს. ასევე, დაბრუნების ყველა მოთხოვნა უნდა გაიგზავნოს შეძენის დღიდან შვიდი (7) დღის განმავლობაში.</span>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="heading_1" style="line-height: 1.5;">
      <a name="_16t1v96tankw" id="_16t1v96tankw"></a><strong><span style="line-height: 115%; font-family: Arial; font-size: 19px;">დაბრუნების პროცესი</span></strong>
    </div>
  </div>
  <div style="line-height: 1.5;">
    <br>
  </div>
  <div>
    <div class="MsoNormal" data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; line-height: 115%; font-family: Arial; color: rgb(89, 89, 89);">თანხის დასაბრუნებლად, გთხოვთ, მოგვწეროთ ელფოსტით მომხმარებელთა სერვისს მისამართზე support@pender.ge.</span>
    </div>
    <div data-custom-class="body_text" data-empty="true" style="line-height: 1.5;"></div>
    <div style="line-height: 1.5;">
      <br>
    </div>
    <div data-custom-class="heading_1" style="line-height: 1.5;">
      <span style="font-size: 19px; color: rgb(0, 0, 0);"><strong>კითხვები</strong></span>
    </div>
    <div style="line-height: 1.5;">
      <br>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; color: rgb(89, 89, 89);">თუ თქვენ გაქვთ რაიმე შეკითხვები ჩვენს დაბრუნების პოლიტიკასთან დაკავშირებით, გთხოვთ დაგვიკავშირდეთ შემდეგ მისამართზე:</span>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.1;">
      <br>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;"></div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px;"><span style="color: rgb(89, 89, 89);">+995 557 325 325</span></span>
    </div>
    <div data-custom-class="body_text" style="line-height: 1.5;">
      <span style="font-size: 15px; color: rgb(89, 89, 89);">support@pender.ge</span>
    </div>
    <style>
      ul {
        list-style-type: square;
      }
      ul > li > ul {
        list-style-type: circle;
      }
      ul > li > ul > li > ul {
        list-style-type: square;
      }
      ol li {
        font-family: Arial ;
      }
    </style>
  </div>
</div>
</body>
