$dark: #ee8240;
$bg: #fceddc;
$light: #fff;
$dim: #2e3134;

.main {
  background-color: $bg;
  border: 7px solid $dim;
}

.title {
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
}

mat-icon {
  vertical-align: middle;
  color: $dim;
}

.input-div {
  display: flex;
  align-items: center;
  background-color: $dark;
  border-radius: 15px;
  padding: 8px;
  margin: 10px;
  border: 2px solid $dim;
}

.input-div h1 {
  color: $dim;
  font-weight: bold;
}

.input-div input {
  font-weight: bold;
  border: none;
  outline: none;
  background: transparent;
  color: $light;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  width: 100%;
}

input::-webkit-input-placeholder {
    color: $light
}

input:-moz-placeholder {
    color: $light
}

input::-moz-placeholder {
    color: $light
}

input:-ms-input-placeholder {
    color: $light
}

button {
  background-color: $dark;
  color: $light !important;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px;
  border: 2px solid $dim;
  margin: auto;
}

