<div class="login-root">
  <div class="box-root flex-flex flex-direction--column" style="min-height: 100vh;flex-grow: 1;">
     <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
        <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
           <h1><a href="/" rel="dofollow">Pender</a></h1>
        </div>
        <div class="formbg-outer">
           <div class="formbg">
              <div class="formbg-inner padding-horizontal--48">
                 <span class="padding-bottom--24">Log in to your account</span>
                 <form id="stripe-login" [formGroup]="loginForm" (ngSubmit)="loginRequest()">
                    <div class="field padding-bottom--24">
                       <label for="email">Email</label>
                       <input type="email" formControlName="email" autocomplete="on">
                    </div>
                    <div class="field padding-bottom--24">
                       <div class="grid--50-50">
                          <label for="password">Password</label>
                          <div class="reset-pass">
                             <a href="/reset">Forgot your password?</a>
                          </div>
                       </div>
                       <input type="password" formControlName="password" minlength="4">
                    </div>
                    <div class="field padding-bottom--24">
                       <input type="submit" name="submit" value="Log In">
                    </div>
                    <div *ngIf="isRegistered" class="success-div">
                     <h4 class="success-text"><mat-icon>check_circle</mat-icon> {{isRegistered}}</h4>
                 </div>
                 <div *ngIf="message" class="error-div">
                    <h4 class="error-text">
                       {{message}}
                    </h4>
               </div>
                 </form>
              </div>
           </div>
           <div class="footer-link padding-top--24">
              <span>Don't have an account? <a href="/register" style="color: #efe9da;">Register</a></span>
              <div class="listing padding-top--24 padding-bottom--24 flex-flex center-center">
                 <span><a href="#">Instagram</a></span>
                 <span><a href="#">Facebook</a></span>
                 <span><a href="#">Contact</a></span>
              </div>
           </div>
        </div>
     </div>
  </div>
</div>
