<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div class="formbg-outer">
        <div class="formbg">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--24">{{ 'LOGIN.login_to_account' | translate }}</span>
            <form
              id="stripe-login"
              [formGroup]="loginForm"
              (ngSubmit)="loginRequest()"
            >
              <div class="field padding-bottom--24">
                <label for="email">{{ 'LOGIN.email' | translate }}</label>
                <input type="email" formControlName="email" />
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">{{ 'LOGIN.password' | translate }}</label>
                  <div class="reset-pass">
                    <a href="/reset">{{ 'LOGIN.forgot_password' | translate }}</a>
                  </div>
                </div>
                <input
                  type="password"
                  formControlName="password"
                  minlength="4"
                />
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="{{ 'LOGIN.login' | translate }}" />
              </div>
              <div *ngIf="isRegistered" class="success-div">
                <h4 class="success-text">
                  <mat-icon>check_circle</mat-icon> {{ isRegistered }}
                </h4>
              </div>
              <div *ngIf="message" class="error-div">
                <h4 class="error-text">
                  <mat-icon>cancel</mat-icon>
                  {{ message }}
                </h4>
              </div>
            </form>
          </div>
        </div>
        <div class="footer-link padding-top--24">
          <span
            >{{ 'LOGIN.no_account' | translate }}
            <a href="/register" style="color: #2e3134; font-size: 16px; text-decoration: underline;">{{ 'LOGIN.register' | translate }}</a></span
          >
          <div
            class="listing padding-top--24 padding-bottom--24 flex-flex center-center"
          >
            <span><a href="#">Instagram</a></span>
            <span><a href="#">Facebook</a></span>
            <span><a href="/contact">Contact</a></span>
          </div>
        </div>
        <div class="hero-shape1">
          <img src="assets/images/hero-shape1.png" alt="hero-shape1" />
        </div>
        <div class="hero-shape2">
          <img src="assets/images/hero-shape2.png" alt="hero-shape2" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
