<div class="row align-items-center mt-4">
  <div
    class="col-sm-6 col-lg-3 col-xl-4"
    *ngFor="let post of posts"
    (click)="openPost(post._id)"
  >
    <div class="post-card" [ngClass]="{ 'vip-post': post.vip }">
      <div class="post-card-img position-relative">
        <img
          src="/assets/postImages/{{ post._id }}/{{ post.img_path[0] }}"
          alt="post-img"
        />
        <span class="post-type-label"
          >{{ 'POST.' + post.postType | translate}}</span
        >
        <span class="vip-label" *ngIf="post.vip">VIP</span>
      </div>
      <h5>{{ post.breed }}</h5>
      <p *ngIf="post.price != null; else age">{{ post.price }} ₾</p>
      <ng-template #age>
        <p class="age-text">
        <span *ngIf="post.ageYears > 0">
          {{ post.ageYears }} {{ 'POST.Years' | translate }}
        </span>
        <span *ngIf="post.ageMonths > 0">
          {{ post.ageMonths }} {{ 'POST.Months' | translate }}
        </span>
        </p>
      </ng-template>
    </div>
  </div>
</div>
