.vip-post {
  -webkit-box-shadow: 0 0 33px 0 rgba(255, 202, 43, 1) !important;
  -moz-box-shadow: 0 0 33px 0 rgba(255, 202, 43, 1) !important;
  box-shadow: 0 0 33px 0 rgba(255, 202, 43, 1) !important;
}
.post-card {
  background: linear-gradient(180deg, #fff 0, rgba(255, 255, 255, 0.7) 100%);
  box-shadow: 0 5.92334px 37.0209px -1.48084px rgba(51, 67, 104, 0.2);
  backdrop-filter: blur(5px);
  padding: 30px;
  margin-top: 40px;
  border-radius: 44px;
  transition: transform 0.2s;
  cursor: pointer;
}
.post-card:hover {
  transform: scale(1.05);
}
.post-card-img img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.post-type-label {
  position: absolute;
  left: 0;
  bottom: 40px;
  border-radius: 0 10px 10px 0;
  font-size: 18px;
  font-weight: 700 !important;
  padding: 8px 12px;
  color: #1d1d1d;
  background: #fff;
}
.age-text {
  display: flex;
  justify-content: space-between;
  width: 95%;
}
.vip-label {
  -webkit-box-shadow: 0 0 50px 0 rgba(255, 203, 46, 1);
  -moz-box-shadow: 0 0 50px 0 rgba(255, 203, 46, 1);
  box-shadow: 0 0 50px 0 rgba(255, 203, 46, 1);
  background-color: #ffca2b;
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 700 !important;
  padding: 8px 12px;
  color: #1d1d1d;
}
.post-card h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1d1d1d;
  padding-top: 20px;
  margin-bottom: 10px;
}
.post-card p {
  font-weight: 400;
  font-size: 32px;
  color: #27525c;
  margin: 0;
}
.post-card p span img {
  margin-top: -20px;
}

// RESPONSIVE
@media (min-width: 300px) and (max-width: 767px) {
  .post-card-img img {
    min-height: 180px;
    max-height: 180px;
    height: 100%;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .post-card-img img {
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .post-card-img img {
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }
}
