<!-- <nav class="navbar"> -->
<!--   <div class="navbar-container container"> -->
<!--       <input type="checkbox" name="" id=""> -->
<!--       <div class="hamburger-lines"> -->
<!--           <span class="nav-line line1"></span> -->
<!--           <span class="nav-line line2"></span> -->
<!--           <span class="nav-line line3"></span> -->
<!--       </div> -->
<!--       <ul class="menu-items"> -->
<!--           <li><a href="/">Home</a></li> -->
<!--           <li><a href="/upload">Upload</a></li> -->
<!--           <li><a href="/profile">Profile</a></li> -->
<!--           <li *ngIf="loginService.isLoggedIn$ | async; else logout" (click)="logoutFunction()"><a href="/login">Log Out</a></li> -->
<!--           <ng-template #logout> -->
<!--             <li><a href="/login">Log In</a></li> -->
<!--           </ng-template> -->
<!--       </ul> -->
<!--       <h1 class="logo"><mat-icon>pets</mat-icon> Pender</h1> -->
<!--   </div> -->
<!-- </nav> -->
<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand brand-custom" href="#">
      <img src="/assets/images/logo.png" alt="logo" class="nav-logo">
      Pender
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">Upload</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Profile</a>
        </li>
        <li *ngIf="loginService.isLoggedIn$ | async; else logout" (click)="logoutFunction()" class="nav-item"><a href="/login" class="nav-link">Log Out</a></li>
          <ng-template #logout>
            <li class="nav-item"><a href="/login" class="nav-link">Log In</a></li>
          </ng-template>
      </ul>
      <form class="d-flex">
        <div class="input-group input-group-lg">
            <span class="input-group-text search-icon" id="basic-addon1">
              <mat-icon>search</mat-icon>
            </span>
        <input class="form-control me-2 shadow-none search-input" type="search" placeholder="Search" aria-label="Search">
        </div>
      </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
