$dark: #ee8240;
$light: #fceddc;
$dim: #2e3134;

mat-icon {
    font-family: 'Material Icons' !important;
}

*,::after,::before{
    font-family:Ubuntu,sans-serif;
}
h1 {
	color: $light;
}

.navbar {
  background-color: $dark !important;
}

.nav-link {
  color: $light;
  font-size: 20px;
}

.nav-logo {
  width: 50px;
  height: 50px;
  background-color: $light;
  padding: 5px;
  border-radius: 100%;
}

.search-btn {
  background-color: $light;
  color: $dark;
}

.search-input {
  color: $dark !important;
}

.form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $dark;
            opacity: 1; /* Firefox */
}

.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color: $dark;
}

.form-control::-ms-input-placeholder { /* Microsoft Edge */
            color: $dark;
 }

.search-icon {
  color: $dark;
  background-color: $light;
}
.custom-toggler.navbar-toggler {
            border-color: $light;
        }
          
.custom-toggler .navbar-toggler-icon {
      background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(242, 167, 126, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.custom-toggler {
  background-color: $light;
}
