$dark: #ee8240;
$light: #fceddc;
$dim: #2e3134;

mat-icon {
  vertical-align: middle;
}

/* Navigation Section CSS Start */

nav.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 0;
  z-index: 999;
}

.sticky {
  background: #ffffff;
  padding: 25px 0 !important;
  box-shadow: 1px 1px 20px 0px #dddddd;
  transition: all 0.3s ease-in-out;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  color: #334368;
}

.logo img {
  padding-right: 12px;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  margin-right: 16px;
  border: none;
  border-radius: 100%;
  background: #54a0b3;
}

.search-form-field {
  background: #ffffff;
  border: 1px solid #54a0b2;
  border-radius: 50px;
}

.search-form-field input {
  background: transparent;
  padding: 11px 30px;
  border: none;
}

.search-form-field input:focus {
  outline: 0;
}

.search-form-field span {
  padding: 11px 30px 11px 0;
  cursor: pointer;
}

.search-form-field ::placeholder {
  font-weight: 700;
  color: #4a4a4a;
}

a.login {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  padding: 13px 32px;
  color: #1d1d1d;
  background: #fca311;
  border: 1px solid #fca311;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

a.login:hover {
  color: #fca311;
  background: transparent;
  border: 1px solid #fca311;
}

.user-profile-icon {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
}

.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 0;
  width: 270px;
  padding: 40px 30px;
  background: #ffffff;
  filter: drop-shadow(0px 5px 10px rgba(0, 0, 0, 0.2));
  border-radius: 30px;
  display: none;
}

.profile-dropdown.active {
  display: block;
}

.profile-user-info img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 100%;
  cursor: pointer;
  margin-right: 20px;
}

.profile-user-info h5 {
  font-size: 18px;
  font-weight: 600;
  text-align: left;
  color: #1d1d1d;
  margin: 0;
}

.profile-user-info p {
  color: #1d1d1dcc;
  margin: 0;
}

.user-edit-profile span,
.user-logout span {
  margin: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #1d1d1d;
}

.user-edit-profile {
  display: flex;
  justify-content: flex-start;
}

.user-logout {
  float: left;
}

.profile-dropdown hr {
  border-top: 1px solid #62d8f4;
  opacity: 1;
}

.navbar-toggler {
  border: 0 !important;
  margin-top: -15px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none !important;
  box-shadow: none !important;
  border: 0 !important;
}

.toggler-icon {
  width: 25px;
  height: 2px;
  background-color: #e74c3c;
  display: block;
  transition: all 0.2s;
}

.middle-bar {
  margin: 5px auto;
}

.navbar-toggler .top-bar {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}

.navbar-toggler .middle-bar {
  opacity: 0;
  filter: alpha(opacity=0);
}

.navbar-toggler .bottom-bar {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .top-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .middle-bar {
  opacity: 1;
  filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
  transform: rotate(0);
}

.navbar-toggler.collapsed .toggler-icon {
  background-color: #151515;
}

@media (max-width: 1200px) {
  .navbar-nav {
    background: #ffffff;
    padding-bottom: 50px;
  }

  .logo {
    font-size: 25px;
  }

  button.navbar-toggler {
    padding-top: 15px;
  }

  .navbar-nav {
    padding-top: 30px;
  }

  .search-form-field input {
    padding: 11px 0 11px 10px;
  }

  .search-form-field span {
    padding: 11px 10px 11px 0;
  }

  .navbar-toggler:focus {
    box-shadow: none;
  }
}

/* Navigation Section CSS End */
