body,
html {
  font-family: Ubuntu, sans-serif;
}

$dark: #ee8240;
$dim: #2e3134;
$light: #fff;
$button: #d0175f;
$button-hover: #ad1650;

/* Post Section CSS Start */

.post-card {
  background: linear-gradient(180deg, #fff 0, rgba(255, 255, 255, 0.7) 100%);
  box-shadow: 0 5.92334px 37.0209px -1.48084px rgba(51, 67, 104, 0.2);
  backdrop-filter: blur(5px);
  padding: 30px;
  margin-top: 40px;
  border-radius: 44px;
  transition: transform 0.2s;
  cursor: pointer;
}
.post-card:hover {
  transform: scale(1.05);
}
.post-card-img img {
  width: 100%;
  min-height: 200px;
  max-height: 200px;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.post-card-img span {
  position: absolute;
  left: 0;
  bottom: 40px;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 12px;
  color: #1d1d1d;
  background: #fff;
  border-radius: 0 10px 10px 0;
}
.post-card h5 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  color: #1d1d1d;
  padding-top: 20px;
  margin-bottom: 10px;
}
.post-card p {
  font-weight: 400;
  font-size: 32px;
  color: #27525c;
  margin: 0;
}
.post-card p span img {
  margin-top: -20px;
}
.post-see-more-btn a {
  font-size: 24px;
  font-weight: 700;
  text-decoration: underline;
  color: #211f54;
}
.latest-post-shape {
  position: absolute;
  right: 0;
  bottom: -335px;
  z-index: -1;
}
.latest-post-shape img {
  max-width: 80%;
  float: right;
}
.post-hero-wrapper {
  margin-top: 180px;
}
.post-hero-title {
  position: relative;
  margin-bottom: -110px;
}
.views-div {
  display: flex;
  justify-content: space-between;
  width: 130px;
}
mat-icon {
  vertical-align: middle;
  color: $dim;
  margin-right: 5px;
}
.vip {
  -webkit-box-shadow: 0 0 40px 0 #ffcb2e;
  -moz-box-shadow: 0 0 40px 0 #ffcb2e;
  box-shadow: 0 0 40px 0 #ffcb2e;
  background-color: #ffca2b;
  width: 60px;
  font-weight: 700;
  text-align: center;
  border-radius: 8px;
}
.post-hero-card1,
.post-hero-card2,
.post-hero-card3,
.slide1,
.slide2,
.slide3 {
  padding: 30px 40px;
  border-radius: 30px;
}
.post-hero-title h2 {
  position: relative;
  font-size: 35px;
  font-weight: 700;
  color: #121049;
}
.post-hero-title-border {
  position: absolute;
  left: 0;
  bottom: -40px;
}
.post-hero-title-border img {
  width: 75%;
}
.post-hero-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.post-hero-card1,
.post-hero-card3 {
  max-width: 29%;
  width: 100%;
}
.post-hero-card1 img,
.post-hero-card3 img {
  width: 100%;
  min-height: 280px;
  max-height: 280px;
  height: 100%;
  border-radius: 22px;
}
.post-hero-card2 img {
  width: 100%;
  min-height: 450px;
  max-height: 450px;
  height: 100%;
  border-radius: 22px;
}
.post-hero-card1,
.slide1 {
  background: radial-gradient(
    44.1% 44.1% at 50% 50%,
    rgba(236, 86, 108, 0.6) 0,
    #a6031a 100%
  );
}
.post-hero-card2 {
  max-width: 39%;
  width: 100%;
  background: radial-gradient(
    51.5% 76.56% at 50% 50%,
    rgba(96, 161, 193, 0.6) 0,
    #095775eb 100%
  );
}
.post-hero-card3,
.slide3 {
  background: radial-gradient(
    54.74% 54.74% at 50% 50%,
    rgba(247, 206, 109, 0.6) 0,
    #eabc4e 100%
  );
}
.post-hero-shape {
  position: absolute;
  left: 0;
  top: -60px;
  z-index: -1;
}
.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px;
}
.slide {
  margin: 10px;
}
.slide2 {
  background: radial-gradient(
    51.5% 76.56% at 50% 50%,
    rgba(96, 161, 193, 0.6) 0,
    #095775eb 100%
  );
}
.post-info-container {
  padding-top: 60px;
}
.post-info-location li {
  font-size: 18px;
  font-weight: 600;
  color: #1d1d1d;
}
.post-date {
  padding-right: 50px;
}
.post-date::after {
  position: absolute;
  content: "";
  top: 9px;
  right: 18px;
  width: 15px;
  height: 15px;
  background: #ffd234;
  border-radius: 100%;
}
.post-info-title h2 {
  font-size: 43px;
  font-weight: 700;
  color: #121049;
  padding: 15px 0;
}
.post-info-title img {
  height: 56px;
}
.post-info-price h3 {
  font-size: 44px;
  color: #27525c;
}
.post-info-price h3 img {
  margin-top: -35px;
  margin-left: -15px;
}
.post-info-description h4 {
  font-size: 28px;
  font-weight: 700;
  color: #1d1d1d;
}
.post-info-description p {
  font-size: 18px;
  color: #1d1d1d;
  padding-top: 10px;
}
.post-user-info {
  max-width: 350px;
  width: 100%;
  padding: 40px 30px 40px 40px;
  float: right;
  background: #fff;
  box-shadow: 0 10px 30px 5px rgba(39, 82, 92, 0.2);
  border-radius: 50px;
  cursor: pointer;
}
.post-user-img img {
  max-width: 60px;
  width: 100%;
  min-height: 60px;
  max-height: 60px;
  height: 100%;
  border-radius: 100%;
  margin-right: 20px;
}
.post-user-info-text h4 {
  font-size: 24px;
  font-weight: 600;
  color: #1d1d1d;
  margin-bottom: 10px;
}
.post-user-info-text p {
  font-size: 16px;
  font-weight: 600;
  color: #1d1d1d;
  margin: 0;
}
.post-user-info-text p img {
  width: 30px;
  padding-right: 10px;
}
.hero-slider {
  margin-top: 160px;
}
.hero-slider .post-hero-card1,
.hero-slider .post-hero-card2,
.hero-slider .post-hero-card3 {
  max-width: 100%;
  width: 100%;
  padding: 30px;
}
.hero-slider .post-hero-card1 img,
.hero-slider .post-hero-card2 img,
.hero-slider .post-hero-card3 img {
  width: 100%;
  min-height: 220px;
  max-height: 220px;
  border-radius: 22px;
}
.post-card.item {
  box-shadow: none;
}
.post-card p img {
  max-width: 20px;
  width: 100%;
  margin-top: -44px !important;
  margin-left: 70px;
}
.owl {
  margin-top: 200px;
}
:host ::ng-deep .owl-dot span {
  background: #62d8f466;
}
:host ::ng-deep .owl-dot.active span {
  background: #62d8f4 !important;
}
:host ::ng-deep .owl-prev {
  padding: 15px !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}
:host ::ng-deep .owl-next {
  padding: 15px !important;
  font-size: 20px !important;
  border-radius: 8px !important;
}
.user-page-bottom-body {
  background: linear-gradient(
    155.53deg,
    #ffce1d5d 10.5%,
    rgba(157, 26, 113, 0.096) 98.28%
  );
  box-shadow: 0 27px 100px 5px rgba(11, 47, 91, 0.1);
  padding: 50px 0;
  margin-top: 100px;
}
.user-post {
  padding-bottom: 120px;
}

/* User page Post Section CSS End */

// RESPONSIVE
@media (min-width: 1920px) {
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 100px;
  }
  .hero-wrapper .container-fluid {
    padding: 0 150px;
  }
}
@media (min-width: 1600px) and (max-width: 1919px) {
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 100px;
  }
  .hero-wrapper .container-fluid {
    padding: 0 150px;
  }
  .hero-shape1 {
    bottom: 30px;
  }
  .hero-shape2 {
    bottom: 100px;
  }
}
@media (min-width: 1400px) and (max-width: 1599px) {
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid,
  .user-post-wrapper .container-fluid {
    padding: 0 80px;
  }
  .hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid {
    padding: 0 100px;
  }
  .hero-shape1 {
    bottom: -40px;
  }
  .hero-shape2 {
    bottom: 80px;
  }
  .post-hero-title {
    margin-bottom: -60px;
  }
  .post-hero-card1 img,
  .post-hero-card3 img {
    min-height: 280px;
    max-height: 280px;
    height: 100%;
  }
  .post-hero-card2 img {
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }
}
@media (min-width: 1200px) and (max-width: 1399px) {
  .post-hero-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 80px;
  }
  .hero-wrapper .container-fluid {
    padding: 0 100px;
  }
  .hero-wrapper {
    padding-bottom: 300px;
  }
  .hero-shape1 {
    bottom: 150px;
  }
  .hero-shape2 {
    bottom: 180px;
  }
  .hero-shape1 img,
  .hero-shape2 img {
    width: 80%;
  }
  .hero-shape2 img {
    float: right;
  }
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-post-wrapper .container-fluid {
    padding: 0 60px;
  }
  .user-hero-bottom-wrapper {
    padding: 0 40px 70px 50px;
  }
  .user-info-img img {
    width: 180px;
    height: 180px;
  }
  .post-hero-title {
    margin-bottom: -45px;
  }
  .post-hero-card1 img,
  .post-hero-card3 img {
    min-height: 200px;
    max-height: 200px;
    height: 100%;
  }
  .post-hero-card2 img {
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 50px;
  }
  .hero-wrapper .container-fluid {
    padding: 0 70px;
  }
  .hero-content h1 {
    font-size: 56px;
  }
  .hero-wrapper {
    padding-bottom: 350px;
  }
  .hero-shape1 {
    bottom: 150px;
  }
  .hero-shape2 {
    bottom: 180px;
  }
  .hero-shape1 img,
  .hero-shape2 img {
    width: 70%;
  }
  .hero-shape2 img {
    float: right;
  }
  .user-hero-bottom-wrapper {
    padding: 0 40px 70px 50px;
  }
  .user-info-img img {
    width: 150px;
    height: 150px;
    margin-top: -70px;
  }
  .post-hero-card1 img,
  .post-hero-card3 img {
    min-height: 180px;
    max-height: 180px;
    height: 100%;
  }
  .post-hero-card2 img {
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }
  .post-hero-title h2,
  .post-info-title h2 {
    font-size: 44px;
    margin-bottom: 50px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 20px;
  }
  .hero-wrapper .container-fluid {
    padding: 0 30px;
  }
  .hero-content {
    position: relative;
  }
  .hero-content h1 {
    font-size: 48px;
    line-height: 60px;
  }
  .hero-shape1 {
    bottom: 150px;
  }
  .hero-shape2 {
    bottom: 180px;
  }
  .hero-shape1 img,
  .hero-shape2 img {
    width: 70%;
  }
  .hero-shape2 img {
    float: right;
  }
  .hero-img {
    padding-top: 50px;
  }
  .section-title h2 {
    font-size: 28px;
  }
  .user-hero-bottom-wrapper {
    padding: 0 40px 70px 50px;
  }
  .user-info-img img {
    width: 150px;
    height: 150px;
    margin-top: -70px;
  }
  .post-hero-card1,
  .post-hero-card2,
  .post-hero-card3 {
    padding: 30px;
  }
  .post-hero-card1 img,
  .post-hero-card3 img {
    min-height: 150px;
    max-height: 150px;
    height: 100%;
  }
  .post-hero-card2 img {
    min-height: 280px;
    max-height: 280px;
    height: 100%;
  }
  .post-hero-title h2,
  .post-info-title h2 {
    font-size: 36px;
    margin-bottom: 53px;
  }
  .post-hero-title-border img {
    width: 60%;
  }
  .post-info-price h3 {
    font-size: 30px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .hero-wrapper .container-fluid,
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 10px;
  }
  .hero-content {
    position: relative;
    padding-top: 120px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 45px;
  }
  .hero-shape1 {
    top: 300px;
  }
  .hero-shape2 {
    bottom: 200px;
  }
  .hero-shape1 img,
  .hero-shape2 img {
    width: 70%;
  }
  .hero-shape2 img {
    float: right;
  }
  .hero-img {
    display: none;
  }
  .section-title h2,
  .user-info-content h4 {
    font-size: 28px;
  }
  .post-card-img img {
    min-height: 180px;
    max-height: 180px;
    height: 100%;
  }
  .upload-post-img {
    max-width: 100%;
    padding: 50px 0 80px;
  }
  .upload-post-shape {
    z-index: -1;
  }
  .user-hero-bottom-wrapper {
    padding: 0 40px 70px 20px;
  }
  .user-info-img img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
  }
  .user-upload-img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .post-hero-title h2,
  .post-info-title h2 {
    font-size: 30px;
  }
  .post-hero-wrapper {
    margin-top: 120px;
  }
  .post-hero-title-border {
    position: absolute;
    left: 0;
    bottom: -25px;
  }
  .post-hero-title-border img {
    width: 40%;
  }
  .post-info-title h2 img {
    height: 30px;
  }
  .post-info-description h4,
  .post-info-price h3 {
    font-size: 25px;
  }
  .post-user-info {
    float: none;
    margin: auto;
  }
  .vip-post-wrapper {
    padding: 0 0 50px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .hero-slider .post-hero-card-img img,
  .post-card-img img {
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .hero-slider .post-hero-card-img img,
  .post-card-img img {
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }
}
@media only screen and (min-width: 767px) {
  .owl,
  .owl-similar-posts {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .slide1,
  .slide2,
  .slide3 {
    padding: 20px 25px;
  }
}
@media (min-width: 300px) and (max-width: 767px) {
  .hero-wrapper .container-fluid,
  .post-hero-wrapper .container-fluid,
  .post-wrapper .container-fluid,
  .upload-post-wrapper .container-fluid,
  .user-footer .container-fluid,
  .user-hero-wrapper .container-fluid {
    padding: 0 10px;
  }
  .hero-content {
    position: relative;
    padding-top: 120px;
    text-align: center;
  }
  .hero-content h1 {
    font-size: 32px;
    line-height: 45px;
  }
  .hero-img {
    display: none;
  }
  .post-card-img img {
    min-height: 180px;
    max-height: 180px;
    height: 100%;
  }
  .upload-post-img {
    max-width: 100%;
    padding: 50px 0 80px;
  }
  .user-hero-bottom-wrapper {
    padding: 0 40px 70px 20px;
  }
  .user-info-img img {
    width: 120px;
    height: 120px;
    margin-top: -60px;
  }
  .user-info-content h4 {
    font-size: 28px;
  }
  .user-upload-img {
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .post-hero-wrapper {
    margin-top: 120px;
  }
  .post-info-description h4,
  .post-info-price h3 {
    font-size: 25px;
  }
  .post-user-info {
    float: none;
    margin: auto;
  }
  .vip-post-wrapper {
    padding: 0 0 50px;
  }
}
@media (min-width: 577px) and (max-width: 767px) {
  .post-card-img img {
    min-height: 400px;
    max-height: 400px;
    height: 100%;
  }
}
@media (min-width: 400px) and (max-width: 576px) {
  .post-card-img img {
    min-height: 300px;
    max-height: 300px;
    height: 100%;
  }
}
