<body>
  <!-- Upload Post Section HTML Start -->
  <section id="Upload-post">
    <div class="upload-post-wrapper position-relative">
      <div class="container-fluid">
        <div class="upload-post-container">
          <div class="upload-post-title">
            <h4>Upload Your Post</h4>
          </div>
          <div class="row align-items-center">
            <div class="col-md-6">
              <div class="upload-post-img">
                <img src="assets/images/upload-post.png" alt="upload-post" />
              </div>
            </div>
            <div class="col-md-6">
              <div class="upload-post-form-container">
                <form [formGroup]="uploadForm" (ngSubmit)="upload()">
                  <div class="upload-post-form">
                    <div class="up-form-field">
                      <select
                        class="form-select"
                        formControlName="animal"
                        required
                      >
                        <option value="" selected disabled>
                          Select Animal
                        </option>
                        <option>Dog</option>
                        <option>Cat</option>
                        <option>Fish</option>
                        <option>Bird</option>
                        <option>Reptile</option>
                      </select>
                    </div>
                    <div class="up-form-field">
                      <input
                        type="text"
                        placeholder="Breed"
                        formControlName="breed"
                        required
                      />
                    </div>
                    <div class="up-form-field">
                      <select
                        (change)="changeInput($event)"
                        formControlName="postType"
                        class="form-select"
                        required
                      >
                        <option value="" disabled>Select Post Type</option>
                        <option>Selling</option>
                        <option>Meeting</option>
                        <option>Adopting</option>
                      </select>
                    </div>
                    <div class="up-form-field">
                      <input
                        type="number"
                        placeholder="Price (GEL)"
                        formControlName="price"
                        id="price"
                      />
                    </div>
                    <div class="up-form-field double">
                      <input
                        type="number"
                        placeholder="Age"
                        formControlName="age"
                      />
                      <select
                        class="form-select"
                        formControlName="ageType"
                        required
                      >
                        <option value="" selected disabled>Year/Month</option>
                        <option>Years</option>
                        <option>Months</option>
                      </select>
                    </div>
                    <div class="up-form-field">
                      <textarea
                        placeholder="Description"
                        maxlength="150"
                        formControlName="description"
                      ></textarea>
                    </div>
                    <div class="up-form-field">
                      <input
                        type="text"
                        placeholder="Phone Number"
                        formControlName="phone"
                      />
                    </div>
                    <div class="up-form-field">
                      <select formControlName="city" class="form-select">
                        <option value="" selected disabled>
                          Select a City
                        </option>

                        <option value="Abasha">Abasha</option>
                        <option value="Abastumani">Abastumani</option>
                        <option value="Adigeni">Adigeni</option>
                        <option value="Akhalgori">Akhalgori</option>
                        <option value="Akhalkalaki">Akhalkalaki</option>
                        <option value="Akhmeta">Akhmeta</option>
                        <option value="Ambrolauri">Ambrolauri</option>
                        <option value="Aspindza">Aspindza</option>
                        <option value="Baghdati">Baghdati</option>
                        <option value="Bakuriani">Bakuriani</option>
                        <option value="Bolnisi">Bolnisi</option>
                        <option value="Borjomi">Borjomi</option>
                        <option value="Chakvi">Chakvi</option>
                        <option value="Chokhatauri">Chokhatauri</option>
                        <option value="Dedoplistsqaro">Dedoplistsqaro</option>
                        <option value="Gagra">Gagra</option>
                        <option value="Gali">Gali</option>
                        <option value="Gardabani">Gardabani</option>
                        <option value="Gori">Gori</option>
                        <option value="Gudauri">Gudauri</option>
                        <option value="Gurjaani">Gurjaani</option>
                        <option value="Jvari">Jvari</option>
                        <option value="Kakheti">Kakheti</option>
                        <option value="Kaspi">Kaspi</option>
                        <option value="Kazbegi">Kazbegi</option>
                        <option value="Kharagauli">Kharagauli</option>
                        <option value="Khashuri">Khashuri</option>
                        <option value="Khobi">Khobi</option>
                        <option value="Khoni">Khoni</option>
                        <option value="Kobuleti">Kobuleti</option>
                        <option value="Kutaisi">Kutaisi</option>
                        <option value="Lagodekhi">Lagodekhi</option>
                        <option value="Manglisi">Manglisi</option>
                        <option value="Marneuli">Marneuli</option>
                        <option value="Mestia">Mestia</option>
                        <option value="Ninotsminda">Ninotsminda</option>
                        <option value="Oni">Oni</option>
                        <option value="Ozurgeti">Ozurgeti</option>
                        <option value="Pankisi">Pankisi</option>
                        <option value="Pitsunda">Pitsunda</option>
                        <option value="Poti">Poti</option>
                        <option value="Racha">Racha</option>
                        <option value="Rustavi">Rustavi</option>
                        <option value="Sachkhere">Sachkhere</option>
                        <option value="Sagarejo">Sagarejo</option>
                        <option value="Samtredia">Samtredia</option>
                        <option value="Senaki">Senaki</option>
                        <option value="Shekvetili">Shekvetili</option>
                        <option value="Shuakhevi">Shuakhevi</option>
                        <option value="Sighnaghi">Sighnaghi</option>
                        <option value="Stepantsminda">Stepantsminda</option>
                        <option value="Sukhumi">Sukhumi</option>
                        <option value="Tbilisi">Tbilisi</option>
                        <option value="Telavi">Telavi</option>
                        <option value="Tianeti">Tianeti</option>
                        <option value="Tkibuli">Tkibuli</option>
                        <option value="Tskaltubo">Tskaltubo</option>
                        <option value="Tsnori">Tsnori</option>
                        <option value="Tsqaltubo">Tsqaltubo</option>
                        <option value="Tusheti">Tusheti</option>
                        <option value="Ureki">Ureki</option>
                        <option value="Vani">Vani</option>
                        <option value="Zestaponi">Zestaponi</option>
                      </select>
                    </div>
                    <div class="up-form-field">
                      <div class="upload-icon">
                        <button
                          type="button"
                          (click)="fileInput.click()"
                          class="files-btn"
                        >
                          <mat-icon>file_upload</mat-icon> Photos (Min/Max 3)
                        </button>
                      </div>
                      <input
                        hidden
                        (change)="selectFiles($event)"
                        #fileInput
                        type="file"
                        multiple
                        formControlName="imgs"
                      />
                      <div *ngIf="message" class="error-div">
                        <h2 class="error-text">{{message}}</h2>
                      </div>
                      <div class="images">
                        <div class="image-div" *ngFor="let url of urls">
                          <mat-icon
                            class="{{ url }}"
                            id="cancel-icon"
                            (click)="removeImage($event)"
                            >cancel</mat-icon
                          >
                          <img [src]="url" class="uploaded-img" />
                        </div>
                      </div>
                    </div>
                    <div class="up-form-btn text-center text-md-end mt-3">
                      <input type="submit" placeholder="Next" />
                    </div>
                    <div class="text-center upload-loading" *ngIf="uploadLoading">
                      <app-loading></app-loading>
                    </div>

                    <div class="error-div" *ngIf="form_msg">
                      <h2 align="center" class="error-text">
                        <mat-icon>cancel</mat-icon> {{form_msg}}
                      </h2>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="upload-post-shape">
        <img
          src="assets/images/upload-post-shape.png"
          alt="upload-post-shape"
        />
      </div>
    </div>
  </section>
  <!-- Upload Post Section HTML End -->
</body>
