<body>
  <div class="container-contact100">
    
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" [formGroup]="uploadForm" (ngSubmit)="upload()">
            <span class="contact100-form-title">
                Upload Your Post
            </span>
            
            <div class="wrap-input100 validate-input">
            <select wrap-input100="animal" class="select" formControlName="animal"
            required>
              <option value="" disabled>Select Animal</option>
              <option>Dog</option>
              <option>Cat</option>
              <option>Fish</option>
              <option>Bird</option>
              <option>Reptile</option>
            </select>
          </div>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" wrap-input100="breed" placeholder="Breed" 
                formControlName="breed"
                required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
            <select wrap-input100="options" id="option" class="select" (change)="changeInput($event)"
            formControlName="postType"
            required>
              <option value="" disabled>Select Post Type</option>
              <option>Selling</option>
              <option>Meeting</option>
              <option>Adopting</option>
            </select>
            </div>

            <div class="wrap-input100 validate-input" id="to-remove">
                <input class="input100" type="number" wrap-input100="price" placeholder="Price (GEL)"  id="to-hide"
                formControlName="price">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100-double validate-input">
              <div class="double-input-div">
                <input class="double-input" type="number" wrap-input100="age_year" placeholder="Age" 
                formControlName="age"
                required>
                
                <select class="double-select" formControlName="ageType"
                required>
                  <option value="" disabled>Age (Years/Month)</option>
                  <option>Years</option>
                  <option>Months</option>
                </select>
              </div>
              <span class="focus-input100"></span>
          </div>

            <div class="wrap-input100 validate-input" >
                <textarea class="input100" wrap-input100="description" placeholder="Description"  maxlength="150" formControlName="description"
                required></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
              <input class="input100" type="text" wrap-input100="breed" placeholder="Phone Number" 
              formControlName="phone"
              required>
              <span class="focus-input100"></span>
          </div>
            
            <div class="upload-image" align="center">
                    <button type="button" (click)="fileInput.click()" class="btn btn-primary btn-file">Upload Photos (Max 3)</button>
                <input hidden (change)="selectFiles($event)" #fileInput type="file" multiple formControlName="imgs">
                <div *ngIf="message">
                  <h2 style="color: red;">3 Photos Maximum!</h2>
                </div>
                <div class="images">
                    <div class="image-div" *ngFor="let url of urls">
                        <button (click)="removeImage($event)" type='button'>
                            <mat-icon class="{{url}}">cancel</mat-icon>
                          </button>
                        <img [src]="url" class="uploaded-img">
                    </div>
                </div>
            </div>
            
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" type="submit" id="submit">
                    <span>
                        <i class="fas fa-paper-plane" style="padding-right: 5px;"></i>
                        Upload
                    </span>
                </button>
            </div>
        </form>
        <h2 align="center" style="padding-top: 30px; color: red;" *ngIf="form_msg">Please fill out the form.</h2>
    </div>
</div>
<!-- 
    <div class="main">
        <h1>Upload Your Post</h1>
        <form [formGroup]="uploadForm" (ngSubmit)="upload()">
            
          <mat-form-field class="field">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
          </mat-form-field>

            <mat-form-field appearance="fill" class="field">
                <mat-label>Select Animal</mat-label>
                <mat-select formControlName="animal">
                    <mat-option value="dog">Dog</mat-option>
                    <mat-option value="cat">Cat</mat-option>
                    <mat-option value="fish">Fish</mat-option>
                    <mat-option value="bird">Bird</mat-option>
                    <mat-option value="reptile">Reptile</mat-option>
                </mat-select>
              </mat-form-field>
              
              <mat-form-field class="field">
                <mat-label>Breed</mat-label>
                <input matInput formControlName="breed">
              </mat-form-field>

              <mat-form-field class="field">
                <mat-label>Price (GEL)</mat-label>
                <input matInput formControlName="price">
              </mat-form-field>

              <mat-form-field appearance="outline" class="field">
                <mat-label>Age</mat-label>
                <input matInput type="text" formControlName="age">
             <mat-select wrap-input100="ampm" class="ampm" formControlName="ageType">
                  <mat-option value="years">Years</mat-option>
                  <mat-option value="months">Months</mat-option>
             </mat-select>
           </mat-form-field>

              <mat-form-field class="field">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
              </mat-form-field>

              <mat-form-field appearance="fill" class="field">
                <mat-label>Post Type</mat-label>
                <mat-select formControlName="postType">
                    <mat-option value="selling">Selling</mat-option>
                    <mat-option value="meeting">Meeting</mat-option>
                    <mat-option value="adopting">Adopting</mat-option>
                </mat-select>
              </mat-form-field>

              <section class="field images">
                <button type="button" mat-raised-button (click)="fileInput.click()">Choose File</button>
                <input hidden (change)="selectFiles($event)" #fileInput type="file" multiple formControlName="imgs">
                <div *ngIf="message">
                  <p style="color: red;">4 Photos Maximum!</p>
                </div>
                <div class="images">
                    <div class="image" *ngFor="let url of urls">
                        <button mat-fab color="#e63427" (click)="removeImage($event)" type='button'>
                            <mat-icon class="{{url}}">cancel</mat-icon>
                          </button>
                        <img [src]="url">
                    </div>
                </div>
              </section>

              <mat-form-field class="field">
                <mat-label>Phone Number</mat-label>
                <input matInput formControlName="phone">
              </mat-form-field>
              
              <section class="field">
                <div *ngIf="form_msg">
                  <p style="color: red;">Please fill out the form.</p>
                </div>
                <input type="submit">
              </section>

        </form>
    </div> -->
</body>