<body>
  <div class="container-contact100">
    
    <div class="wrap-contact100">
        <form class="contact100-form validate-form" [formGroup]="uploadForm" (ngSubmit)="upload()">
            <span class="contact100-form-title">
                Upload Your Post
            </span>
            
            <div class="wrap-input100 validate-input">
              <mat-icon>expand_more</mat-icon>
              <select wrap-input100="animal" class="select" formControlName="animal"
              required>
              <option value="" disabled>Select Animal</option>
              <option>Dog</option>
              <option>Cat</option>
              <option>Fish</option>
              <option>Bird</option>
              <option>Reptile</option>
            </select>
          </div>

            <div class="wrap-input100 validate-input">
                <input class="input100" type="text" wrap-input100="breed" placeholder="Breed" 
                formControlName="breed"
                required>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
              <mat-icon>expand_more</mat-icon>
            <select wrap-input100="options" id="option" class="select" (change)="changeInput($event)"
            formControlName="postType"
            required>
              <option value="" disabled>Select Post Type</option>
              <option value="selling">Selling</option>
              <option value="meeting">Meeting</option>
              <option value="adopting">Adopting</option>
            </select>
            </div>

            <div class="wrap-input100 validate-input" id="to-remove">
                <input class="input100" type="number" wrap-input100="price" placeholder="Price (GEL)"  id="to-hide"
                formControlName="price">
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100-double validate-input">
              <div class="double-input-div">
                <input class="double-input" type="number" wrap-input100="age_year" placeholder="Age" 
                formControlName="age"
                required>
                
                <div class="age-arrow">
                  <mat-icon>expand_more</mat-icon>
                  <select class="double-select" formControlName="ageType"
                  required>
                    <option value="" disabled>Age (Years/Month)</option>
                    <option value="years">Years</option>
                    <option value="months">Months</option>
                  </select>
                </div>
              </div>
              <span class="focus-input100"></span>
          </div>

            <div class="wrap-input100 validate-input" >
                <textarea class="input100" wrap-input100="description" placeholder="Description"  maxlength="150" formControlName="description"
                required></textarea>
                <span class="focus-input100"></span>
            </div>

            <div class="wrap-input100 validate-input">
              <input class="input100" type="text" wrap-input100="breed" placeholder="Phone Number" 
              formControlName="phone"
              required>
              <span class="focus-input100"></span>
          </div>

          <div class="wrap-input100 validate-input">
            <input class="input100" type="text" wrap-input100="breed" placeholder="City" 
              formControlName="city"
            required>
            <span class="focus-input100"></span>
        </div>
            
            <div class="upload-image" align="center">
              <div class="upload-icon">
                <mat-icon>file_upload</mat-icon> 
                      <button type="button" (click)="fileInput.click()" class="btn btn-primary btn-file">Upload Photos (Max 3)</button>
              </div>
                <input hidden (change)="selectFiles($event)" #fileInput type="file" multiple formControlName="imgs">
                <div *ngIf="message">
                  <h2 style="color: red;">3 Photos Maximum!</h2>
                </div>
                <div class="images">
                    <div class="image-div" *ngFor="let url of urls">
                        <button (click)="removeImage($event)" type='button'>
                            <mat-icon class="{{url}}" id="cancel-icon">cancel</mat-icon>
                          </button>
                        <img [src]="url" class="uploaded-img">
                    </div>
                </div>
            </div>
            
            <div class="container-contact100-form-btn">
                <button class="contact100-form-btn" type="submit" id="submit">
                    <span>
                        Upload
                    </span>
                </button>
            </div>
            <div class="error-div" *ngIf="form_msg">
              <h2 align="center" class="error-text"><mat-icon>cancel</mat-icon> Please fill out the form.</h2>
            </div>
        </form>
    </div>
</div>
</body>