<body>
  <header>
    <!-- User Hero Section HTML Start -->
    <section id="User-hero">
      <div class="user-hero-wrapper">
        <div class="container-fluid">
          <div class="user-hero-container">
            <div class="user-hero-top"></div>
            <div class="user-hero-bottom">
              <div class="row user-hero-bottom-wrapper align-items-end">
                <div class="col-lg-9">
                  <div class="user-info-container d-md-flex">
                    <div class="user-info-img">
                      <img
                        *ngIf="userData.pfp == true; else default"
                        src="assets/images/user-pfps/{{ userID }}.jpg"
                        alt="user"
                        id="user-pfp"
                      />
                      <ng-template #default>
                        <img src="assets/images/default_pfp.png" alt="user" />
                      </ng-template>
                    </div>
                    <div class="user-info-content ms-3">
                      <h4>{{ userData.username }}</h4>
                      <div
                        class="user-contact-details d-xl-flex align-items-center"
                      >
                        <li>
                          <img
                            src="assets/images/phone-icon.svg"
                            alt="phone-icon"
                          />
                          <a href="tel:(+995) {{ userData.phone_number }}">{{
                            userData.phone
                          }}</a>
                        </li>
                        <li>
                          <img
                            src="assets/images/location-icon.svg"
                            alt="location-icon"
                          />
                          <a>{{ userData.city }}</a>
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div
                    class="user-social d-flex align-items-center mt-4 mt-lg-0 float-md-end"
                  >
                    <li>
                      <a href="{{ userData.instagram }}"
                        ><img
                          src="assets/images/instagram-icon.svg"
                          alt="instagram-icon"
                      /></a>
                    </li>
                    <li>
                      <a href="{{ userData.facebook }}"
                        ><img
                          src="assets/images/facebook-icon.svg"
                          alt="facebook-icon"
                      /></a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- User Hero Section HTML End -->
  </header>
  <!-- Header Part HTML
      <!-- User Page Body Section HTML Start -->
  <div class="user-page-bottom-body">
    <!-- Post Section HTML Start -->
    <section id="Post" class="user-post">
      <div class="post-wrapper position-relative">
        <div class="container-fluid">
          <div class="posts">
            <div class="post" *ngFor="let post of posts">
              <div class="top" (click)="openPost(post._id)">
                <img
                  src="/assets/postImages/{{ post._id }}/{{ post.img_path[0] }}"
                  alt=""
                />
                <div class="details">
                  <h1>
                    {{ post.postType }} -
                    <span *ngIf="post.postType != 'Selling'">
                      {{ post.animal }}
                    </span>
                    <span *ngIf="post.price">{{ post.price }} ₾ </span>
                  </h1>
                  <p>
                    <mat-icon>pets</mat-icon>
                    {{ post.breed | titlecase }}
                  </p>
                  <p>{{ post.age }} {{ post.ageType | titlecase }} Old</p>
                  <p>
                    <mat-icon>today</mat-icon>
                    {{ post.date }}
                  </p>
                  <p>
                    <mat-icon>info_outline</mat-icon>
                    Expires In {{ post.expires }} Days
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="latest-pagination">
            <div class="latest-pagi-wrapper">
              <ul (click)="pagination($event)">
                <li class="arrow-left">
                  <img
                    src="assets/images/chevron-left.svg"
                    alt="chevron-left"
                    class="arrow-left"
                  />
                </li>
                <li
                  *ngFor="let page of pages"
                  class="pageNum"
                  [ngClass]="{ active: page === pageIndex }"
                >
                  {{ page }}
                </li>
                <li class="arrow-right">
                  <img
                    src="assets/images/chevron-right.svg"
                    alt="chevron-right"
                    class="arrow-right"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Post Section HTML End -->
    <!-- User Footer Section HTML Start -->
    <footer id="User-footer" class="user-footer">
      <div class="container-fluid">
        <div class="user-footer-container">
          <div class="row align-items-center">
            <div class="col-md-4">
              <div class="footer-logo">
                <a class="logo" href="index.html"
                  ><img src="assets/images/logo.svg" alt="logo" />Pender</a
                >
              </div>
            </div>
            <div class="col-md-4">
              <div
                class="user-social user-footer-social d-flex justify-content-center align-items-center mt-4 mt-md-0"
              >
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/instagram-gray-icon.svg"
                      alt="instagram-gray-icon"
                  /></a>
                </li>
                <li>
                  <a href="#"
                    ><img
                      src="assets/images/facebook-gray-icon.svg"
                      alt="facebook-gray-icon"
                  /></a>
                </li>
              </div>
            </div>
            <div class="col-md-4 mt-4 mt-md-0">
              <div
                class="footer-copyright text-center text-md-start float-md-end"
              >
                <p>
                  <img
                    class="me-3"
                    src="assets/images/copyright-icon.svg"
                    alt="copyright-icon"
                  />All rights reserved
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- User Footer Section HTML End -->
  </div>
  <!-- User Page Body Section HTML End -->
</body>
