<body>
    <div class="main">
      <div class="cards">
        <div class="card left">
          <img src="/assets/images/logo.svg" alt="logo" class="logo">
          <hr class="left-line-first">
          <h1 id="posts-h1">POSTS</h1>
          <hr class="left-line-second">
          <div class="posts">
            <mat-icon class="count-icons">sell</mat-icon>
            <h1 class="posts-text">SELLING</h1>
            <h1 class="posts-text">{{userData.counts[0]}}</h1>
          </div>
          <div class="posts">
            <mat-icon class="count-icons">favorite</mat-icon>
            <h1 class="posts-text">MEETING</h1>
            <h1 class="posts-text">{{userData.counts[1]}}</h1>
          </div>
          <div class="posts">
            <mat-icon class="count-icons">cottage</mat-icon>
            <h1 class="posts-text">ADOPTING</h1>
            <h1 class="posts-text">{{userData.counts[2]}}</h1>
          </div>
        </div>
        <div class="card right">
          <div class="info-bg-div">
            <div class="info-bg">
              <h1 id="information">INFORMATION</h1>
            </div>
          </div>
          <div class="info-list">
            <!-- FIRST -->
            <div class="data">
              <div>
                <mat-icon>badge</mat-icon>
              </div>
                <div class="edit-div">
                  <h1 class="info-text">{{userData.name}}</h1>
                </div>
            </div>
            <hr class="right-line">
            <!-- SECOND -->
            <div class="data">
              <div>
                <mat-icon>phone</mat-icon>
              </div>
                <div class="edit-div">
                  <h1 class="info-text">{{userData.phone}}</h1>
                </div>
            </div>
            <hr class="right-line">
            <!-- CITY -->
            <div class="data">
              <div>
                <mat-icon>place</mat-icon>
              </div>
                <div class="edit-div">
                  <h1 class="info-text">{{userData.city}}</h1>
                </div>
            </div>
            <hr class="right-line">
            <!-- FOURTH -->
            <div class="data">
              <div>
                <mat-icon>facebook</mat-icon>
              </div>
                <div class="edit-div">
                    <h1 class="info-text social-media">
                      <a href="{{userData.facebook}}" target="_blank">View Facebook Profile</a>
                    </h1>
                </div>                 
            </div>
            <hr class="right-line">
            <!-- FIFTH -->
            <div class="data">
              <div>
                <img src="/assets/images/instagram.svg" alt="instagram" width="24" class="ig">
              </div>
                <div class="edit-div">
                    <h1 class="info-text social-media">
                      <a href="{{userData.instagram}}" target="_blank">View Instagram Profile</a>
                    </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    
    <h1 class="posts-title">{{userData.name |titlecase}}'s Posts</h1>
  <div class="user-posts">
    <div class="post" *ngFor="let post of posts" id="{{post.id}}">
      <p class="type">{{post.postType |uppercase}}</p>
      <div class="image">
          <img src="/assets/postImages/{{post._id}}-{{post.img_path[0]}}">
      </div>
      <div class="bottom">
          <p *ngIf="post.price != ''">{{post.price}} ₾</p>
          <p>{{post.age}} {{post.ageType |titlecase}} Old</p>
      </div>
      <div class="buttons">
        <a href="/post/{{post._id}}" target="_blank" class="open">Open</a>
        <a href="/post/{{post._id}}" target="_blank" class="open">Edit</a>
      </div>
  </div>
  </div>
  <mat-paginator [length]="postCount"
              [pageSize]="5"
              aria-label="Select page">
              (page)="pageEvent = $event"    
</mat-paginator>

  </body>
  