<body>
  <header>
    <!-- User Hero Section HTML Start -->
    <section id="User-hero">
      <div class="user-hero-wrapper">
        <div class="container-fluid">
          <div class="user-hero-container">
            <div class="user-hero-top">
              <a class="user-edit-icon" (click)="openModal()"
                ><img src="assets/images/edit.svg" alt="edit"
              /></a>
            </div>
            <div class="user-hero-bottom">
              <div class="row user-hero-bottom-wrapper align-items-end">
                <div class="col-lg-9">
                  <div class="user-info-container d-md-flex">
                    <div class="user-info-img">
                      <img
                        *ngIf="userData.pfp == true; else default"
                        src="assets/user-pfps/{{ userData.id }}.jpg"
                        alt="user"
                        id="user-pfp"
                      />
                      <ng-template #default>
                        <img src="assets/images/default_pfp.png" alt="user" />
                      </ng-template>
                    </div>
                    <div class="user-info-content ms-3">
                      <h4>{{ userData.username }}</h4>
                      <div
                        class="user-contact-details d-xl-flex align-items-center"
                      >
                        <li>
                          <img
                            src="assets/images/email-icon.svg"
                            alt="email-icon"
                          />
                          <a href="mailto:{{ userData.email }}"
                            >{{ userData.email }}</a
                          >
                        </li>
                        <li>
                          <img
                            src="assets/images/phone-icon.svg"
                            alt="phone-icon"
                          />
                          <a href="tel:(+995) {{ userData.phone_number }}"
                            >{{ userData.phone }}</a
                          >
                        </li>
                        <li>
                          <img
                            src="assets/images/location-icon.svg"
                            alt="location-icon"
                          />
                          <a
                            >{{ 'CITIES.' + userData.city.toLowerCase() |
                            translate}}</a
                          >
                        </li>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3">
                  <div
                    class="user-social d-flex align-items-center mt-4 mt-lg-0 float-md-end"
                  >
                    <li>
                      <a href="{{ userData.instagram }}"
                        ><img
                          src="assets/images/instagram-icon.svg"
                          alt="instagram-icon"
                      /></a>
                    </li>
                    <li>
                      <a href="{{ userData.facebook }}"
                        ><img
                          src="assets/images/facebook-icon.svg"
                          alt="facebook-icon"
                      /></a>
                    </li>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="renew-modal">
      <div class="modal-content renew-modal-content">
        <div>
          <h1>
            <mat-icon>cached</mat-icon>
            Renew Post
          </h1>
          <app-service-cost [serviceCost]="0.20"></app-service-cost>
          <button class="form-done-btn" (click)="renewPost()">Renew</button>
          <button class="form-close-btn" type="button" (click)="toggleRenew(0)">
            Close
          </button>
        </div>
        <p
          *ngIf="balanceMessage"
          style="color: red; font-weight: bold; margin-top: 50px"
        >
          {{ balanceMessage }}
        </p>
      </div>
    </div>
    <div class="vip-modal">
      <div class="modal-content">
        <div>
          <form class="vip-form" [formGroup]="vipForm" (ngSubmit)="buyVip()">
            <h1>
              <mat-icon>bolt</mat-icon>
              VIP
              <mat-icon>bolt</mat-icon>
            </h1>
            <select [(ngModel)]="daysSelected" formControlName="days">
              <option value="" disabled>
                {{ 'UPLOAD.select_days' | translate }}
              </option>
              <option value="1">1 {{ 'UPLOAD.day' | translate }}</option>
              <option value="2">2 {{ 'UPLOAD.days' | translate }}</option>
              <option value="3">3 {{ 'UPLOAD.days' | translate }}</option>
              <option value="4">4 {{ 'UPLOAD.days' | translate }}</option>
              <option value="5">5 {{ 'UPLOAD.days' | translate }}</option>
              <option value="6">6 {{ 'UPLOAD.days' | translate }}</option>
              <option value="7">7 {{ 'UPLOAD.days' | translate }}</option>
            </select>
            <app-service-cost
              [serviceCost]="daysSelected * 1.5"
            ></app-service-cost>
            <button class="form-done-btn" type="submit">Buy</button>
            <button class="form-close-btn" type="button" (click)="closeVip()">
              Close
            </button>
          </form>
        </div>
      </div>
    </div>
    <section id="User-form">
      <div class="user-modal">
        <div class="user-form-container d-lg-flex">
          <div class="user-upload-img mb-4 mb-lg-0">
            <img
              *ngIf="userData.pfp == true; else default"
              src="assets/user-pfps/{{ userData.id }}.jpg"
              alt="user"
              id="user-pfp"
              class="edit-profile-pfp"
            />
            <ng-template #default>
              <img
                src="assets/images/default_pfp.png"
                alt="user"
                id="user-pfp"
                class="edit-profile-pfp"
              />
            </ng-template>
            <a class="upload-btn" (click)="fileInput.click()">+</a>
          </div>
          <form [formGroup]="profileForm" (ngSubmit)="editProfile()">
            <input hidden (change)="changePfp($event)" #fileInput type="file" />
            <div class="user-form-field">
              <mat-icon>badge</mat-icon>
              <input
                type="text"
                formControlName="name"
                placeholder="Name"
                required
              />
            </div>
            <div class="user-form-field">
              <img src="assets/images/email-icon.svg" alt="email-icon" />
              <input
                type="email"
                formControlName="email"
                placeholder="Email"
                required
              />
            </div>
            <div class="user-form-field">
              <img src="assets/images/phone-icon.svg" alt="phone-icon" />
              <input
                type="text"
                formControlName="phone"
                placeholder="Phone Number"
                required
              />
            </div>
            <div>
              <app-cities-selector
                [type]="'edit'"
                [form]="profileForm"
                controlName="city"
                [currentCity]="userData.city"
              ></app-cities-selector>
            </div>
            <div class="user-form-field">
              <img
                src="assets/images/instagram-gray-icon.svg"
                alt="social-icon"
              />
              <input
                type="text"
                formControlName="instagram"
                placeholder="Instagram"
                required
              />
            </div>
            <div class="user-form-field">
              <img src="assets/images/facebook-input.svg" alt="social-icon" />
              <input
                type="text"
                formControlName="facebook"
                placeholder="Facebook"
                required
              />
            </div>
            <div class="text-center text-lg-end mt-4 edit-modal-buttons">
              <button class="form-done-btn" type="submit">
                {{ 'MODAL.done' | translate }}
              </button>
              <button
                class="form-close-btn"
                type="button"
                (click)="closeModal()"
              >
                {{ 'MODAL.close' | translate }}
              </button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- User Hero Section HTML End -->
  </header>
  <!-- Header Part HTML
      <!-- User Page Body Section HTML Start -->
  <div class="user-page-bottom-body" *ngIf="posts.length != 0">
    <!-- Post Section HTML Start -->
    <section id="Post" class="user-post">
      <div class="post-wrapper position-relative">
        <div class="container-fluid">
          <div class="sort-div">
            <h1 style="font-weight: bold">{{ 'PROFILE.sort' | translate }}:</h1>
            <select class="sort-select" (change)="sort($event)">
              <option value="expiresDesc">
                {{ 'PROFILE.expires_desc' | translate }}
              </option>
              <option value="expiresAsc">
                {{ 'PROFILE.expires_asc' | translate }}
              </option>
              <option value="dateDesc">
                {{ 'PROFILE.date_desc' | translate }}
              </option>
              <option value="dateAsc">
                {{ 'PROFILE.date_asc' | translate }}
              </option>
            </select>
          </div>
          <div class="posts">
            <div class="post" *ngFor="let post of posts">
              <div class="top" (click)="openPost(post._id)">
                <img
                  src="/assets/postImages/{{ post._id }}/{{ post.img_path[0] }}"
                  alt=""
                />
                <div class="details">
                  <h1>
                    {{ post.postType }} -
                    <span *ngIf="post.postType != 'Selling'">
                      {{ post.animal }}
                    </span>
                    <span *ngIf="post.price">{{ post.price }} ₾ </span>
                  </h1>
                  <p>
                    <mat-icon>pets</mat-icon>
                    {{ post.breed | titlecase }}
                  </p>
                  <p>{{ post.age }} {{ post.ageType | titlecase }} Old</p>
                  <p>
                    <mat-icon>today</mat-icon>
                    {{ post.date }}
                  </p>
                  <p>
                    <mat-icon>info_outline</mat-icon>
                    Expires In {{ post.expires }} Days
                  </p>
                </div>
              </div>
              <div class="bottom">
                <mat-icon (click)="toggleRenew(post._id)">sync</mat-icon>
                <p (click)="openVip(post._id)">VIP</p>
                <!-- <mat-icon>verified</mat-icon> -->
                <mat-icon (click)="openEdit(post)">edit</mat-icon>
                <mat-icon (click)="deletePost(post._id)">delete</mat-icon>
              </div>
            </div>
          </div>
          <div class="latest-pagination">
            <div class="latest-pagi-wrapper">
              <ul (click)="pagination($event)">
                <li class="arrow-left">
                  <img
                    src="assets/images/chevron-left.svg"
                    alt="chevron-left"
                    class="arrow-left"
                  />
                </li>
                <li
                  *ngFor="let page of pages"
                  class="pageNum"
                  [ngClass]="{ active: page === pageIndex }"
                >
                  {{ page }}
                </li>
                <li class="arrow-right">
                  <img
                    src="assets/images/chevron-right.svg"
                    alt="chevron-right"
                    class="arrow-right"
                  />
                </li>
              </ul>
              <section id="User-form">
                <div class="user-modal edit-modal">
                  <div class="user-form-container d-lg-flex">
                    <form
                      [formGroup]="postForm"
                      (ngSubmit)="editPost()"
                      class="edit-post-form"
                    >
                      <label>Breed</label>
                      <div class="user-form-field">
                        <mat-icon>badge</mat-icon>
                        <input type="text" formControlName="breed" required />
                      </div>
                      <label *ngIf="postForm.controls.price.value">Price</label>
                      <div
                        class="user-form-field"
                        *ngIf="postForm.controls.price.value"
                      >
                        <mat-icon>sell</mat-icon>
                        <input type="text" formControlName="price" required />
                      </div>
                      <label>Description</label>
                      <div class="user-form-field">
                        <mat-icon>description</mat-icon>
                        <input
                          type="text"
                          formControlName="description"
                          required
                        />
                      </div>
                      <label>Phone</label>
                      <div class="user-form-field">
                        <mat-icon>phone</mat-icon>
                        <input type="text" formControlName="phone" required />
                      </div>
                      <label>City</label>
                      <div class="user-form-field">
                        <mat-icon>place</mat-icon>
                        <input type="text" formControlName="city" required />
                      </div>
                      <div class="text-center text-lg-end mt-4">
                        <button class="form-done-btn" type="submit">
                          Done
                        </button>
                        <button
                          class="form-close-btn"
                          type="button"
                          (click)="closeEdit()"
                        >
                          Close
                        </button>
                      </div>
                    </form>
                  </div>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Post Section HTML End -->
  </div>
  <!-- User Footer Section HTML Start -->
  <app-footer></app-footer>
  <!-- User Footer Section HTML End -->

  <!-- User Page Body Section HTML End -->
</body>
