<body>
  <!-- Profile Section HTML Start -->

  <section id="Profile-main">
    <div class="profile-main-wrapper">
      <div class="bars d-xl-none">
        <span>
          <mat-icon>tune</mat-icon>
          Filters
        </span>
      </div>
      <div id="Profile-sidebar">
        <div class="profile-sidebar-wrapper">
          <div class="filter-form-wrapper">
            <h4>Filter By:</h4>
            <form [formGroup]="filterForm" (ngSubmit)="filter()">
              <div class="filter-form">
                <div class="form-input-field">
                  <label>Animal</label>
                  <select formControlName="animal">
                    <option value="" selected disabled>Select Animal</option>
                    <option value="Dog">Dog</option>
                    <option value="Cat">Cat</option>
                    <option value="Fish">Fish</option>
                    <option value="Bird">Bird</option>
                    <option value="Reptile">Reptile</option>
                  </select>
                </div>
                <div class="form-input-field">
                  <label>Post Type</label>
                  <select
                    formControlName="postType"
                    (change)="changeInput($event)"
                  >
                    <option value="" selected disabled>Select Post Type</option>
                    <option value="Selling">Selling</option>
                    <option value="Meeting">Meeting</option>
                    <option value="Adopting">Adopting</option>
                  </select>
                </div>
                <div class="form-input-field">
                  <label>City/town</label>

                  <select formControlName="city" class="form-select">
                    <option value="" selected disabled>Select a City</option>

                    <option value="Abasha">Abasha</option>
                    <option value="Abastumani">Abastumani</option>
                    <option value="Adigeni">Adigeni</option>
                    <option value="Akhalgori">Akhalgori</option>
                    <option value="Akhalkalaki">Akhalkalaki</option>
                    <option value="Akhmeta">Akhmeta</option>
                    <option value="Ambrolauri">Ambrolauri</option>
                    <option value="Aspindza">Aspindza</option>
                    <option value="Baghdati">Baghdati</option>
                    <option value="Bakuriani">Bakuriani</option>
                    <option value="Bolnisi">Bolnisi</option>
                    <option value="Borjomi">Borjomi</option>
                    <option value="Chakvi">Chakvi</option>
                    <option value="Chokhatauri">Chokhatauri</option>
                    <option value="Dedoplistsqaro">Dedoplistsqaro</option>
                    <option value="Gagra">Gagra</option>
                    <option value="Gali">Gali</option>
                    <option value="Gardabani">Gardabani</option>
                    <option value="Gori">Gori</option>
                    <option value="Gudauri">Gudauri</option>
                    <option value="Gurjaani">Gurjaani</option>
                    <option value="Jvari">Jvari</option>
                    <option value="Kakheti">Kakheti</option>
                    <option value="Kaspi">Kaspi</option>
                    <option value="Kazbegi">Kazbegi</option>
                    <option value="Kharagauli">Kharagauli</option>
                    <option value="Khashuri">Khashuri</option>
                    <option value="Khobi">Khobi</option>
                    <option value="Khoni">Khoni</option>
                    <option value="Kobuleti">Kobuleti</option>
                    <option value="Kutaisi">Kutaisi</option>
                    <option value="Lagodekhi">Lagodekhi</option>
                    <option value="Manglisi">Manglisi</option>
                    <option value="Marneuli">Marneuli</option>
                    <option value="Mestia">Mestia</option>
                    <option value="Ninotsminda">Ninotsminda</option>
                    <option value="Oni">Oni</option>
                    <option value="Ozurgeti">Ozurgeti</option>
                    <option value="Pankisi">Pankisi</option>
                    <option value="Pitsunda">Pitsunda</option>
                    <option value="Poti">Poti</option>
                    <option value="Racha">Racha</option>
                    <option value="Rustavi">Rustavi</option>
                    <option value="Sachkhere">Sachkhere</option>
                    <option value="Sagarejo">Sagarejo</option>
                    <option value="Samtredia">Samtredia</option>
                    <option value="Senaki">Senaki</option>
                    <option value="Shekvetili">Shekvetili</option>
                    <option value="Shuakhevi">Shuakhevi</option>
                    <option value="Sighnaghi">Sighnaghi</option>
                    <option value="Stepantsminda">Stepantsminda</option>
                    <option value="Sukhumi">Sukhumi</option>
                    <option value="Tbilisi">Tbilisi</option>
                    <option value="Telavi">Telavi</option>
                    <option value="Tianeti">Tianeti</option>
                    <option value="Tkibuli">Tkibuli</option>
                    <option value="Tskaltubo">Tskaltubo</option>
                    <option value="Tsnori">Tsnori</option>
                    <option value="Tsqaltubo">Tsqaltubo</option>
                    <option value="Tusheti">Tusheti</option>
                    <option value="Ureki">Ureki</option>
                    <option value="Vani">Vani</option>
                    <option value="Zestaponi">Zestaponi</option>
                  </select>

                  <!-- <input -->
                  <!--   type="text" -->
                  <!--   placeholder="City" -->
                  <!--   formControlName="city" -->
                  <!-- /> -->
                </div>
                <div class="form-input-field">
                  <label>Age Type</label>
                  <select formControlName="ageType">
                    <option value="" selected disabled>Select Age Type</option>
                    <option value="Years">Years</option>
                    <option value="Months">Months</option>
                  </select>
                </div>
                <div class="form-input-field">
                  <label>Age</label>
                  <div class="d-flex">
                    <input
                      class="me-1"
                      type="text"
                      placeholder="Min..."
                      formControlName="ageMin"
                      required
                    />
                    <input
                      class="ms-1"
                      type="text"
                      placeholder="Max..."
                      formControlName="ageMax"
                      required
                    />
                  </div>
                </div>
                <div class="form-input-field" id="price-div">
                  <label>Price</label>
                  <div class="d-flex">
                    <input
                      class="me-1"
                      type="text"
                      placeholder="Min..."
                      formControlName="priceMin"
                      required
                    />
                    <input
                      class="ms-1"
                      type="text"
                      placeholder="Max..."
                      formControlName="priceMax"
                      required
                    />
                  </div>
                </div>
                <input
                  type="button"
                  value="Reset Filters"
                  class="reset-filter"
                  (click)="resetFilters()"
                />
                <div class="form-btn">
                  <input type="submit" value="Filter" />
                  <input type="button" value="Close" (click)="closeFilter()" />
                </div>
              </div>
              <div class="error-div">
                <p *ngIf="filterError" class="filter-error">
                  {{ filterError }}
                </p>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div id="Profile-contents" class="position-relative">
        <div class="profile-contents-wrapper">
          <div class="post-wrapper position-relative" *ngIf="vipCount >= 1">
            <div class="section-title">
              <h2>VIP Posts</h2>
            </div>
            <div class="position-relative pt-3">
              <div class="vip-post-wrapper row align-items-center mt-4">
                <div
                  class="col-sm-6 col-lg-6 col-xl-4"
                  *ngFor="let post of vipPosts"
                  (click)="openPost(post._id)"
                >
                  <div class="post-card vip-post">
                    <div class="post-card-img position-relative">
                      <img
                        src="/assets/postImages/{{ post._id }}/{{
                          post.img_path[0]
                        }}"
                        alt="post-img1"
                      />
                      <span class="post-type-label"
                        >{{ post.postType | titlecase }}</span
                      >
                      <span class="vip-label">VIP</span>
                    </div>
                    <h5>{{ post.breed }}</h5>
                    <div class="d-flex justify-content-between align-items-end">
                      <p *ngIf="post.price != null; else age">
                        {{ post.price }} ₾
                      </p>
                      <ng-template #age>
                        <p>{{ post.age }} {{ post.ageType | titlecase }} Old</p>
                      </ng-template>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="profile-shape2">
              <img
                src="assets/images/profile-shape2.png"
                alt="profile-shape2"
              />
            </div>
          </div>

          <div class="post-wrapper position-relative mt-5 pt-5">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="section-title">
                <h2>Search Results</h2>
              </div>
              <div class="sorted-by">
                <label>Found {{ count }} results ({{ time }} seconds).</label>
              </div>
            </div>
            <app-posts [posts]="posts"></app-posts>
          </div>

          <!-- Latest Post Pagination -->

          <div class="latest-pagination">
            <div class="latest-pagi-wrapper">
              <ul (click)="pagination($event)">
                <li class="arrow-left">
                  <img
                    src="assets/images/chevron-left.svg"
                    alt="chevron-left"
                    class="arrow-left"
                  />
                </li>
                <li
                  *ngFor="let page of pages"
                  class="pageNum"
                  [ngClass]="{ active: page === pageIndex }"
                >
                  {{ page }}
                </li>
                <li class="arrow-right">
                  <img
                    src="assets/images/chevron-right.svg"
                    alt="chevron-right"
                    class="arrow-right"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="profile-shape1">
          <img src="assets/images/profile-shape1.png" alt="profile-shape1" />
        </div>
        <div class="profile-shape3">
          <img src="assets/images/profile-shape3.png" alt="profile-shape3" />
        </div>
      </div>
    </div>
  </section>

  <!-- Profile Section HTML End -->
  <!-- User Footer Section HTML Start -->
  <app-footer></app-footer>
</body>
