<body>
    <div class="main">
        <div class="filters">
            <h1>Filters</h1>
            <hr>
        </div>
        <div class="results">
            <div class="post" *ngFor="let post of postData" id="{{post.id}}">
                <div class="post-img">
                  <img src="/assets/postImages/{{post.id}}-{{post.imgs[0]}}" alt="">
                  <p class="post-title">{{post.postType}}</p>
                </div>
                <div class="post-details">
                  <div>
                    <p *ngIf="post.price != '' else age">{{post.price}} ₾</p>
                    <ng-template #age>
                      <p>{{post.age}} {{post.ageType}}</p>
                    </ng-template>
                    <h2 class="breed">{{post.breed}}</h2>
                  </div>
                  <button class="open-post" (click)="openPost($event)">Open</button>
                </div>
              </div>
        </div>
    </div>
</body>