<body>
    <div class="main">
        <div class="filters">
            <h1>Filters</h1>
            <hr>
        </div>
        <div class="results">
            <div class="card">
                <div class="img-div">
                    <div class="post-img" style="background: url('https://images.theconversation.com/files/443350/original/file-20220131-15-1ndq1m6.jpg?ixlib=rb-1.1.0&rect=0%2C0%2C3354%2C2464&q=45&auto=format&w=926&fit=clip'); background-size: 100% 100%;"></div>
                </div>
                <h1 class="post-title">Selling - Cat</h1>
                <hr class="post-line">
                <div class="last">
                    <h2 class="last">123 ₾</h2>
                    <h2 class="last">2022-12-19</h2>
                </div>
            </div>
        </div>
    </div>
</body>