<body>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="search-main">
    <div class="search-div">
      <div class="search-content">
        <div>
          <h1>Buy, Sell, Meet Or Adopt Pets</h1>
          <div class="search-content-input">
              <input type="text" id="searchText" placeholder="Breed" formControlName="text">
            </div>
          </div>
          <button type="submit" class="logo-btn" style="background: url(/assets/images/logo.svg); background-size: 100% 100%;"></button>
        </div>
      </div>
    </div>
  </form>
  <div class="offerings">
    <h1 class="offerings-main-text">We Offer</h1>
    <div class="line"></div>
    <div class="boxes">
      <div class="box">
        <h1>Selling</h1>
        <mat-icon class="icon">sell</mat-icon>
        <div class="paragraph">
          <p>Sell your pets to others or buy pets for your loved ones.</p>
        </div>
      </div>
      <div class="box">
        <h1>Meeting</h1>
        <mat-icon class="icon">favorite</mat-icon>
        <div class="paragraph">
          <p>Want to have more cute little pets? Find a match on Pender for your pet.</p>
        </div>
      </div>
      <div class="box">
        <h1>Adopting</h1>
        <mat-icon class="icon">cottage</mat-icon>
        <div class="paragraph">
          <p>Want to adopt a pet? Search on Pender! want to find someone to adopt your pet? Upload a post on Pender!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="posts-div">
      <h1 class="latest-title">Latest Posts</h1>
    <div class="latest-posts">
      <div class="post" *ngFor="let post of posts" id="{{post.id}}">
        <div class="post-img">
          <img src="/assets/postImages/{{post.id}}-{{post.imgs[0]}}" alt="">
          <p class="post-title">{{post.postType}}</p>
        </div>
        <div class="post-details">
        <h2 class="breed">{{post.breed |titlecase}}</h2>
        <div class="last">
          <p *ngIf="post.price != '' else age">{{post.price}} ₾</p>
          <ng-template #age>
            <p>{{post.age}} {{post.ageType|titlecase}}</p>
          </ng-template>
        <button class="open-post" (click)="openPost($event)">Open</button>
        </div>
        </div>
      </div>
    </div>
    <div class="arrows-div">
      <mat-icon (click)="scrollLeft()" class="scrollButton">navigate_before</mat-icon>
      <mat-icon (click)="scrollRight()" class="scrollButton">navigate_next</mat-icon>
    </div>
  </div>

</body>
