<body>
  <!-- Header Part HTML Start -->

  <header>
    <!-- Hero Section HTML Start -->

    <section id="Hero">
      <div class="hero-wrapper">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="hero-content position-relative">
                <div class="hero-content-shape1">
                  <img
                    draggable="false"
                    src="assets/images/hero-content-shape1.svg"
                    alt="hero-content-shape1"
                  />
                </div>
                <h2>
                  <span
                    >{{ 'HOME.adopt' | translate}}, {{ 'HOME.sell' |
                    translate}}, <br />
                    {{ 'HOME.meet' | translate}}</span
                  >
                  {{ 'HOME.your_pet_here' | translate}}
                </h2>
                <p>{{ 'HOME.long_text' | translate }}</p>
                <div class="hero-btn">
                  <a class="primary-btn" href="/upload"
                    >{{ 'HOME.upload_post' | translate }}</a
                  >
                </div>
                <div class="hero-content-shape3">
                  <img
                    draggable="false"
                    src="assets/images/hero-content-shape3.svg"
                    alt="hero-content-shape3"
                  />
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="hero-img">
                <img src="assets/images/hero-img.png" alt="hero-img" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Hero Section HTML End -->
  </header>

  <!-- Header Part HTML End -->

  <!-- Main Part HTML Start -->

  <main>
    <!-- Find Pet Section HTML Start -->

    <section id="Find-pet">
      <div class="find-pet-wrapper position-relative">
        <div class="container">
          <div class="find-pet-container">
            <div class="row align-items-center">
              <div class="col-xl-4">
                <div class="find-pet-content">
                  <h3>
                    {{ 'HOME.new_pet' | translate }}
                    <img
                      draggable="false"
                      src="assets/images/find-pet-text-shape.svg"
                      alt="find-pet-text-shape"
                    />
                  </h3>
                  <p>{{ 'HOME.new_pet_bottom' | translate }}</p>
                  <div class="see-more-btn">
                    <a class="primary-btn" href="/search;animal=all"
                      >{{ 'HOME.see_more' | translate }}</a
                    >
                  </div>
                </div>
              </div>
              <div class="col-xl-8 pt-5 pt-xl-0">
                <div class="row">
                  <div class="col-md-6 col-lg-3 text-center">
                    <a href="/search;animal=cat">
                      <div class="find-pet-card">
                        <div class="find-pet-card-img">
                          <img
                            src="assets/images/find-pet-card-img1.png"
                            alt="find-pet-card-img1"
                          />
                        </div>
                        <h4>{{ 'ANIMALS.cat' | translate }}</h4>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3 text-center pt-4 pt-md-0">
                    <a href="/search;animal=dog">
                      <div class="find-pet-card">
                        <div class="find-pet-card-img">
                          <img
                            src="assets/images/find-pet-card-img2.png"
                            alt="find-pet-card-img2"
                          />
                        </div>
                        <h4>{{ 'ANIMALS.dog' | translate }}</h4>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3 text-center pt-4 pt-lg-0">
                    <a href="/search;animal=reptile">
                      <div class="find-pet-card">
                        <div class="find-pet-card-img">
                          <img
                            src="assets/images/reptile.webp"
                            alt="find-pet-card-img3"
                          />
                        </div>
                        <h4>{{ 'ANIMALS.reptile' | translate }}</h4>
                      </div>
                    </a>
                  </div>
                  <div class="col-md-6 col-lg-3 text-center pt-4 pt-lg-0">
                    <a href="/search;animal=bird">
                      <div class="find-pet-card">
                        <div class="find-pet-card-img">
                          <img
                            src="assets/images/find-pet-card-img4.png"
                            alt="find-pet-card-img4"
                          />
                        </div>
                        <h4>{{ 'ANIMALS.bird' | translate }}</h4>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="find-pet-shape">
          <img src="assets/images/find-pet-shape.svg" alt="find-pet-shape" />
        </div>
      </div>
    </section>

    <!-- Find Pet Section HTML End -->

    <!-- Pet Selling Section HTML Start -->

    <section id="Pet-selling">
      <div class="pet-selling-wrapper">
        <div class="container">
          <div class="pet-selling-top">
            <h2>{{ 'HOME.latest_posts' | translate}}</h2>
          </div>
          <div class="pet-selling-slider owl-theme" [@fadeIn]>
            <owl-carousel-o [options]="customOptions" #carousel>
              <ng-template carouselSlide *ngFor="let post of posts">
                <div
                  class="pet-selling-slide item"
                  (click)="openPost(post._id)"
                >
                  <div class="pet-slide-img position-relative">
                    <img
                      src="/assets/postImages/{{ post._id }}/{{ post.img_path[0] }}"
                      alt="pet-selling-slide-img1"
                    />
                    <div class="vip-tag" *ngIf="post.vip">
                      <span>VIP</span>
                    </div>
                  </div>
                  <div class="pet-slide-content">
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <h5>
                        {{ post.breed }}
                        <span>({{ 'UPLOAD.' + post.gender | translate }})</span>
                      </h5>
                      <h5 *ngIf="post.price">{{ post.price }} ₾</h5>
                    </div>
                    <div
                      class="d-flex justify-content-between align-items-center"
                    >
                      <p>
                        <span *ngIf="post.ageYears > 0"
                          >{{ post.ageYears }} {{ 'POST.Years' | translate }}
                        </span>
                        <span *ngIf="post.ageMonths > 0"
                          >{{ post.ageMonths }} {{ 'POST.Months' | translate }}
                        </span>
                      </p>
                      <div class="buy-now-btn">
                        <a>{{ 'POST.' + post.postType | translate}}</a>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </owl-carousel-o>
          </div>

          <div class="carousel-nav">
            <button type="button" (click)="carousel.prev()">
              <mat-icon>arrow_back</mat-icon>
            </button>
            <button type="button" (click)="carousel.next()">
              <mat-icon>arrow_forward</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </section>

    <!-- Pet Selling Section HTML End -->
    <app-upload-form></app-upload-form>
  </main>

  <!-- Main Part HTML End -->
</body>
