<body>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
  <div class="search-main">
    <div class="search-div">
      <div class="search-content">
        <div>
          <h1>Buy, Sell, Meet Or Adopt Pets</h1>
          <div class="search-content-input">
              <input type="text" id="searchText" placeholder="Breed" formControlName="text">
              <select formControlName="type" class="search-type">
                <option value="" disabled>Select Animal</option>
                <option>Dog</option>
                <option>Cat</option>
                <option>Fish</option>
                <option>Bird</option>
                <option>Reptile</option>
            </select>
            </div>
          </div>
          <button type="submit" class="logo-btn" style="background: url(/assets/images/logo.svg); background-size: 100% 100%;"></button>
        </div>
      </div>
    </div>
  </form>
  <div class="offerings">
    <h1 class="offerings-main-text">We Offer</h1>
    <div class="line"></div>
    <div class="boxes">
      <div class="box">
        <h1>Selling</h1>
        <mat-icon class="icon">sell</mat-icon>
        <div class="paragraph">
          <p>Sell your pets to others or buy pets for your loved ones.</p>
        </div>
      </div>
      <div class="box">
        <h1>Meeting</h1>
        <mat-icon class="icon">favorite</mat-icon>
        <div class="paragraph">
          <p>Want to have more cute little pets? Find a match on Pender for your pet.</p>
        </div>
      </div>
      <div class="box">
        <h1>Adopting</h1>
        <mat-icon class="icon">cottage</mat-icon>
        <div class="paragraph">
          <p>Want to adopt a pet? Search on Pender! want to find someone to adopt your pet? Upload a post on Pender!</p>
        </div>
      </div>
    </div>
  </div>

  <div class="latest">
    <div class="title">
      <mat-icon class="star">star</mat-icon>
      <h1 class="offerings-main-text">VIP Posts</h1>
    </div>
      <div class="latest-line"></div>
  </div>
  <div class="latest-posts">
    <div class="post">
      <div class="post-img">
        <img src="/assets/postImages/7c383525-aa77-4963-aa58-64cc95e9a459-0.jpg" alt="">
        <p class="post-title">Breed</p>
      </div>
      <div class="post-details">
        <p>500 ₾</p>
        <button class="open-post">Open</button>
      </div>
    </div>
    <div class="post">
      <div class="post-img">
        <img src="/assets/postImages/7c383525-aa77-4963-aa58-64cc95e9a459-0.jpg" alt="">
        <p class="post-title">Breed</p>
      </div>
      <div class="post-details">
        <p>500 ₾</p>
        <button class="open-post">Open</button>
      </div>
    </div>
    <div class="post">
      <div class="post-img">
        <img src="/assets/postImages/7c383525-aa77-4963-aa58-64cc95e9a459-0.jpg" alt="">
        <p class="post-title">Breed</p>
      </div>
      <div class="post-details">
        <p>500 ₾</p>
        <button class="open-post">Open</button>
      </div>
    </div>
  </div>

</body>
