/* Footer Part CSS Start */

.footer-wrapper {
  margin-top: 80px;
  background: #040930;
  padding: 40px 0;
}

.footer-social ul li {
  padding: 0 15px;
}

.footer-social ul li a {
  font-size: 20px;
  color: #ffffff;
}

.footer-contact a {
  font-size: 18px;
  color: #d3d3d3;
}

.footer-wrapper hr {
  margin: 25px 0;
  opacity: 0.5;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

.footer-copyright p {
  font-size: 16px;
  text-align: center;
  color: #a7a7a7;
  margin-bottom: 0;
}

.counter {
  margin-top: 25px;
  text-align: center;
}

/* Footer Part CSS End */
