/* Footer Section CSS */

mat-icon {
  vertical-align: middle;
  margin-bottom: 4px;
}

.user-footer {
  padding: 30px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 32px;
  font-weight: 700;
  color: #334368;
}

.logo img {
  padding-right: 12px;
}

.footer-copyright a {
  font-size: 20px;
  font-weight: bold;
  color: #334368;
  cursor: pointer;
  margin: 0;
}

.user-social li {
  position: relative;
  margin: 0px 25px;
}

.user-social li::after {
  position: absolute;
  content: "";
  top: 50%;
  right: -65px;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 1px;
  background: #b24a3f;
}

.user-footer-social li::after {
  background: #5a6381;
}

.user-social li:last-child {
  margin-right: 0;
  padding-right: 0;
}

.user-social li:last-child:after {
  display: none;
}

.user-social li a {
  padding: 0 10px;
}

