<!-- Footer Part HTML Start -->

<footer id="Footer">
  <div class="footer-wrapper">
    <div class="container">
      <div
        class="footer-container d-lg-flex justify-content-between align-items-center"
      >
        <div class="footer-logo">
          <img src="assets/images/footer-logo.svg" alt="footer-logo" />
        </div>
        <!-- <div class="footer-social pt-4 pt-lg-0"> -->
        <!--   <ul class=""> -->
        <!--     <li> -->
        <!--       <a href="#"> -->
        <!--         <mat-icon>facebook</mat-icon> -->
        <!--       </a> -->
        <!--     </li> -->
        <!--   </ul> -->
        <!-- </div> -->
        <div class="footer-contact pt-4 pt-lg-0">
          <a href="/contact">{{ 'NAV.contact' | translate }}</a>
        </div>
      </div>
      <hr />
      <div class="footer-copyright">
        <p>Copyright 2023 @Pender</p>
      </div>
      <div
        id="top-ge-counter-container"
        class="counter"
        data-site-id="116616"
      ></div>
    </div>
  </div>
</footer>

<!-- Footer Part HTML End -->
