<footer id="User-footer" class="user-footer">
  <div class="container-fluid">
    <div class="user-footer-container">
      <div class="row align-items-center">
        <div class="col-md-4">
          <div class="footer-logo">
            <a class="logo" href="index.html"
              ><img src="assets/images/logo.svg" alt="logo" />Pender</a
            >
          </div>
        </div>
        <div class="col-md-4">
          <div
            class="user-social user-footer-social d-flex justify-content-center align-items-center mt-4 mt-md-0"
          >
            <li>
              <a href="#"
                ><img
                  src="assets/images/instagram-gray-icon.svg"
                  alt="instagram-gray-icon"
              /></a>
            </li>
            <li>
              <a href="#"
                ><img
                  src="assets/images/facebook-gray-icon.svg"
                  alt="facebook-gray-icon"
              /></a>
            </li>
          </div>
        </div>
        <div class="col-md-4 mt-4 mt-md-0">
          <div class="footer-copyright text-center text-md-start float-md-end">
            <a href="/contact">
            <mat-icon>mail</mat-icon>
            {{ 'CONTACT.contact_us' | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="top-ge-counter-container" data-site-id="116616"></div>
</footer>
