.cost-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #fdfdfd;
  border: 1px solid #e0e0e0;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.cost-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

.cost-values {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 24px;
  font-weight: bold;
  color: #008080;
}

.cost-box p {
  margin: 10px;
}
