<div class="login-root">
  <div
    class="box-root flex-flex flex-direction--column"
    style="min-height: 100vh; flex-grow: 1"
  >
    <div
      class="box-root padding-top--24 flex-flex flex-direction--column"
      style="flex-grow: 1; z-index: 9"
    >
      <div class="formbg-outer">
        <div class="formbg" *ngIf="step == 1">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--24 main-text">Register On Pender</span>
            <form
              id="stripe-login"
              [formGroup]="registerForm"
              (ngSubmit)="sendCode()"
            >
              <div class="field padding-bottom--24">
                <label for="email">Email</label>
                <input type="email" formControlName="email" />
              </div>
              <div class="field padding-bottom--24">
                <label for="name">Name</label>
                <input type="text" formControlName="name" />
              </div>
              <div class="field padding-bottom--24">
                <label for="phone-number">Phone Number</label>
                <input
                  type="number"
                  formControlName="phoneNumber"
                  minlength="9"
                  maxlength="9"
                />
              </div>
              <!-- <div class="field padding-bottom--24"> -->
              <label for="name">City</label>
              <div class="field padding-bottom--24">
                <app-cities-selector [type]="'register'" [form]="registerForm" controlName="city" [currentCity]="'Select Your City'"></app-cities-selector>
              </div>
              <div class="field padding-bottom--24">
                <div class="grid--50-50">
                  <label for="password">Password</label>
                </div>
                <input
                  type="password"
                  formControlName="password"
                  minlength="4"
                />
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Register" />
              </div>
              <div *ngIf="httpError" class="error-div">
                <h4 class="error-text">
                  <mat-icon>cancel</mat-icon> {{httpError}}
                </h4>
              </div>
            </form>
          </div>
        </div>
        <!-- EMAIL CODE -->
        <div class="formbg" *ngIf="step == 2">
          <div class="formbg-inner padding-horizontal--48">
            <span class="padding-bottom--24">Confirm Your Email</span>
            <form
              id="stripe-login"
              [formGroup]="codeForm"
              (ngSubmit)="registerRequest()"
            >
              <div class="field padding-bottom--24">
                <label for="name">Code</label>
                <input type="text" formControlName="code" />
              </div>
              <div class="field padding-bottom--24">
                <input type="submit" name="submit" value="Confirm" />
              </div>
              <div *ngIf="httpError" class="error-div">
                <h4 class="error-text">
                  <mat-icon>cancel</mat-icon> {{httpError}}
                </h4>
              </div>
            </form>
          </div>
        </div>

        <div class="footer-link padding-top--24">
          <span
            >Have an account?
            <a href="/login" class="footer-login" style="color: #2e3134"
              >Log In</a
            ></span
          >
          <div
            class="listing padding-top--24 padding-bottom--24 flex-flex center-center"
          >
            <span><a href="#">Instagram</a></span>
            <span><a href="#">Facebook</a></span>
            <span><a href="/contact">Contact</a></span>
          </div>
        </div>
        <div class="hero-shape1">
          <img src="assets/images/hero-shape1.png" alt="hero-shape1" />
        </div>
        <div class="hero-shape2">
          <img src="assets/images/hero-shape2.png" alt="hero-shape2" />
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
